Repository fluencelabs/nox, pull requests merged in 2019-02, with the labels that each got.

#390 Add new version of CLI to fabfile
  tools/deploy/fabfile.py
  tools/deploy/scripts/contract.txt
Labels: ~CLI

#394 Smart-contract: small improvements
  bootstrap/contracts/Deployer.sol
  bootstrap/truffle.js
  ethclient/src/main/java/fluence/ethclient/Network.java
Labels: ~general

#391 Filter status by owner, app_id, etc
  cli/Cargo.lock
  cli/Cargo.toml
  cli/README.md
  cli/src/command.rs
  cli/src/contract_status/app.rs
  cli/src/contract_status/mod.rs
  cli/src/contract_status/ui/mod.rs
  cli/src/contract_status/ui/rich_status.rs
  cli/src/delete_app.rs
  cli/src/delete_node.rs
  cli/src/main.rs
  cli/src/publisher.rs
  cli/src/register.rs
  cli/src/types.rs
  cli/src/utils.rs
  docs/guides/miner.md
  vm/examples/counter/Cargo.lock
Labels: ~CLI

#396 Gas price as argument in CLI
  cli/src/command.rs
  cli/src/contract_func.rs
  cli/src/delete_app.rs
  cli/src/delete_node.rs
  cli/src/publisher.rs
  cli/src/register.rs
  cli/src/utils.rs
Labels: ~CLI

#395 Control server in state machine
  build.sbt
  project/SbtCommons.scala
  statemachine/control/README.md
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignal.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignals.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/src/main/resources/reference.conf
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  statemachine/src/main/scala/fluence/statemachine/control/ControlCommand.scala
  statemachine/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/src/main/scala/fluence/statemachine/control/ControlSignals.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
Labels: ~consensus

#397 Connect node to worker via internal network
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/docker/DockerIO.scala
  node/src/main/scala/fluence/node/docker/DockerNetwork.scala
  node/src/main/scala/fluence/node/eth/state/WorkerPeer.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/Worker.scala
  node/src/main/scala/fluence/node/workers/WorkerParams.scala
  node/src/main/scala/fluence/node/workers/health/RunningWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/health/StoppedWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/WorkerConfigWriter.scala
  node/src/main/scala/fluence/node/workers/tendermint/rpc/TendermintRpc.scala
Labels: ~consensus

#403 hot fix cli
  cli/src/command.rs
Labels: ~CLI

#404 Wrap block number in Option
  ethclient/src/main/scala/fluence/ethclient/data/Block.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
Labels: bug

#400 ControlRPC: dropPeer, status, stop.
  build.sbt
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpc.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/health/RunningWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/health/StoppedWorkerInfo.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignal.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignals.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
Labels: ~consensus

#405 Allow workers to be terminated gracefully
  statemachine/docker/worker/run.sh
Labels: bug

#399 Check if a node is already registered on registration in CLI
  cli/src/contract_func.rs
  cli/src/contract_status/app.rs
  cli/src/contract_status/mod.rs
  cli/src/contract_status/status.rs
  cli/src/delete_app.rs
  cli/src/delete_node.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/publisher.rs
  cli/src/register.rs
  cli/src/step_counter.rs
  cli/tests/delete_app.rs
  cli/tests/delete_node.rs
  cli/tests/pinning.rs
  cli/tests/registering.rs
  cli/tests/utils/mod.rs
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/package-lock.json
Labels: ~CLI

#398 Сlean up worker containers on master stop + Tendermint in separate container
  .travis.yml
  build.sbt
  devnet.md
  ethclient/src/main/scala/fluence/ethclient/helpers/Web3jConverters.scala
  externalstorage/src/test/scala/fluence/swarm/SwarmClientIntegrationSpec.scala
  node/src/it/scala/fluence.node/DockerSetup.scala
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/resources/docker/entrypoint.sh
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MakeResource.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/config/NodeConfig.scala
  node/src/main/scala/fluence/node/docker/DockerIO.scala
  node/src/main/scala/fluence/node/docker/DockerNetwork.scala
  node/src/main/scala/fluence/node/docker/DockerParams.scala
  node/src/main/scala/fluence/node/eth/NodeEth.scala
  node/src/main/scala/fluence/node/workers/CodeManager.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerParams.scala
  node/src/main/scala/fluence/node/workers/WorkersPool.scala
  node/src/main/scala/fluence/node/workers/health/RunningWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/health/StoppedWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/ConfigTemplate.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/GenesisConfig.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/ValidatorConfig.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/WorkerConfigWriter.scala
  node/src/main/scala/fluence/node/workers/tendermint/rpc/TendermintRpc.scala
  project/build.properties
  project/plugins.sbt
  statemachine/docker/worker/run.sh
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
Labels: enhancement, tech debt, ~general

#417 add all arguments in block in option, handle errors in status aggregator
  ethclient/src/main/scala/fluence/ethclient/data/Block.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  tools/deploy/scripts/compose.sh
Labels: ~consensus

#445 Use reserved peers, delete all apps and nodes from CLI
  cli/src/contract_func.rs
  cli/src/delete_all.rs
  cli/src/delete_app.rs
  cli/src/delete_node.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/publisher.rs
  cli/src/register.rs
  ethclient/src/main/scala/fluence/ethclient/EthClient.scala
  node/src/main/scala/fluence/node/eth/FluenceContract.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  tools/deploy/config/reserved_peers.txt
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/contract.txt
  tools/deploy/scripts/parity.yml
Labels: enhancement, ~CLI, ~infrastructure

#450 issue #152
  build.sbt
Labels: bug, scala

#443 Sdk/version 0.0.10
  docs/guides/backend.md
  sdk/rust/Cargo.toml
  sdk/rust/crates/macro/Cargo.toml
  sdk/rust/crates/macro/src/lib.rs
  sdk/rust/crates/macro/src/macro_input_parser.rs
  sdk/rust/crates/main/Cargo.toml
  sdk/rust/crates/main/src/export_allocator/mod.rs
  sdk/rust/crates/main/src/lib.rs
  sdk/rust/src/lib.rs
  vm/examples/counter/Cargo.lock
  vm/examples/counter/Cargo.toml
  vm/examples/counter/src/lib.rs
  vm/examples/hello-user/Cargo.toml
  vm/examples/hello-user2/app/Cargo.toml
  vm/examples/llamadb/Cargo.toml
Labels: enhancement, rust, ~rust_sdk

#413 Kickstart guide
  cli/README.md
  docs/guides/images/helloworld.png
  docs/guides/images/interactive.png
  docs/guides/kickstart.md
  docs/guides/miner.md
Labels: documentation

#454 sdk: version 0.0.10 cargo locks update
  vm/examples/counter/Cargo.lock
  vm/examples/hello-user/Cargo.lock
  vm/examples/hello-user2/app/Cargo.lock
  vm/examples/llamadb/Cargo.lock
Labels: bug, ~rust_sdk

#453 vm: disable logging by default
  vm/examples/llamadb/Cargo.lock
  vm/examples/llamadb/Cargo.toml
  vm/examples/llamadb/src/lib.rs
  vm/examples/llamadb/src/tests.rs
  vm/src/it/resources/reference.conf
  vm/src/it/scala/fluence/vm/LlamadbIntegrationTest.scala
  vm/src/main/resources/reference.conf
Labels: enhancement, scala, ~virtual machine

#442 Add basic version of dashboard
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/abi/.gitignore
  dashboard/src/fluence/apps/index.ts
  dashboard/src/fluence/contract.ts
  dashboard/src/fluence/index.ts
  dashboard/src/fluence/nodes/index.ts
  dashboard/src/front/actions/apps/app-ids.ts
  dashboard/src/front/actions/apps/apps.ts
  dashboard/src/front/actions/index.ts
  dashboard/src/front/actions/loading.ts
  dashboard/src/front/actions/nodes/node-ids.ts
  dashboard/src/front/actions/nodes/nodes.ts
  dashboard/src/front/app.tsx
  dashboard/src/front/assets/loader.gif
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/initial-state.ts
  dashboard/src/front/static/index.html
  dashboard/tsconfig.client.json
  dashboard/tsconfig.json
  dashboard/tslint.json
  dashboard/webpack.config.js
Labels: feature, js, ~dashboard

#457 Conformity to kickstart guide
  build.sbt
  docs/guides/kickstart.md
  ethclient/src/main/scala/fluence/ethclient/EthClient.scala
  vm/examples/counter/Cargo.lock
  vm/examples/counter/Cargo.toml
  vm/examples/counter/src/lib.rs
  vm/examples/hello-world/Cargo.lock
  vm/examples/hello-world/Cargo.toml
  vm/examples/hello-world/rust-toolchain
  vm/examples/hello-world/src/lib.rs
  vm/examples/hello-world2/app/Cargo.lock
  vm/examples/hello-world2/app/Cargo.toml
  vm/examples/hello-world2/app/rust-toolchain
  vm/examples/hello-world2/app/src/lib.rs
  vm/examples/hello-world2/runner/src/main/resources/reference.conf
  vm/examples/hello-world2/runner/src/main/scala/HelloWorldRunner.scala
  vm/examples/llamadb/Cargo.lock
  vm/examples/llamadb/Cargo.toml
  vm/examples/llamadb/src/lib.rs
  vm/src/it/scala/fluence/vm/HelloWorldIntegrationTest.scala
Labels: documentation, rust, scala, ~rust_sdk

#458 Examine both Tendermint and Statemachine to get Worker Status
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/main/scala/fluence/node/docker/DockerIO.scala
  node/src/main/scala/fluence/node/docker/DockerStatus.scala
  node/src/main/scala/fluence/node/status/MasterStatus.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/Worker.scala
  node/src/main/scala/fluence/node/workers/WorkersPool.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpc.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/health/HealthCheckConfig.scala
  node/src/main/scala/fluence/node/workers/health/RunningWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/health/StoppedWorkerInfo.scala
  node/src/main/scala/fluence/node/workers/status/HttpStatus.scala
  node/src/main/scala/fluence/node/workers/status/ServiceStatus.scala
  node/src/main/scala/fluence/node/workers/status/WorkerStatus.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  node/src/main/scala/fluence/node/workers/tendermint/rpc/TendermintRpc.scala
  node/src/main/scala/fluence/node/workers/tendermint/status/StatusResponse.scala
  node/src/main/scala/fluence/node/workers/tendermint/status/TendermintStatus.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  vm/examples/counter/Cargo.lock
  vm/examples/llamadb/Cargo.lock
Labels: enhancement, scala, ~node

#451 Support environments, e.g stage, devnet
  docs/guides/miner.md
  fluence-js/src/examples/fluence-sqldb/index.ts
  tools/deploy/README.md
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/instances.json
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/kovan-compose.sh
  tools/deploy/scripts/parity.yml
Labels: ~infrastructure

#455 Generate Tendermint config.toml from default config
  build.sbt
  node/src/main/resources/docker/tendermint/config/default_config.toml
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/ConfigTemplate.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/TendermintConfig.scala
  project/SbtCommons.scala
Labels: bug, enhancement, ~tendermint

#459 Use named volume for /master on Node
  build.sbt
  node/src/it/scala/fluence.node/DockerSetup.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/multiple-node.yml
  tools/deploy/scripts/node.yml
Labels: enhancement, scala, ~infrastructure, ~node

#460 Generate application.conf from env variables
  .travis.yml
  build.sbt
  node/src/it/resources/reference.conf
  node/src/it/scala/fluence.node/DockerSetup.scala
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence.node/eth/FluenceContractTestOps.scala
  node/src/main/resources/docker/application.conf
  node/src/main/resources/docker/entrypoint.sh
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/ConfigOps.scala
  node/src/main/scala/fluence/node/config/EndpointsConfig.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/status/MasterStatus.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
Labels: enhancement, refactoring, scala, tech debt, ~infrastructure, ~node

#461 add hard-coded contract address
  cli/Cargo.lock
  cli/Cargo.toml
  cli/README.md
  cli/src/command.rs
  cli/src/contract_status/mod.rs
  docs/guides/backend.md
  docs/guides/kickstart.md
  docs/guides/miner.md
  node/src/main/resources/docker/entrypoint.sh
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/workers/tendermint/config/TendermintConfig.scala
  project/SbtCommons.scala
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/node.yml
Labels: ~CLI

#469 Tolerate eth errors fix
  ethclient/src/main/scala/fluence/ethclient/EthClient.scala
  ethclient/src/main/scala/fluence/ethclient/EthClientApp.scala
  ethclient/src/main/scala/fluence/ethclient/EthClientError.scala
  ethclient/src/main/scala/fluence/ethclient/EthRetryPolicy.scala
  ethclient/src/main/scala/fluence/ethclient/syntax/syntax.scala
  ethclient/src/test/scala/fluence/ethclient/ClusterContractSpec.scala
  node/src/it/scala/fluence.node/eth/FluenceContractTestOps.scala
  node/src/main/scala/fluence/node/docker/DockerStatus.scala
  node/src/main/scala/fluence/node/eth/FluenceContract.scala
  node/src/main/scala/fluence/node/eth/NodeEth.scala
  node/src/main/scala/fluence/node/eth/state/App.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/status/HttpStatus.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  node/src/main/scala/fluence/node/workers/tendermint/rpc/TendermintRpc.scala
Labels: bug, critical, scala, tech debt, ~node

#468 Update Tendermint to 0.30.0
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/workers/WorkerParams.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/ConfigTemplate.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignals.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
Labels: enhancement, scala, ~infrastructure, ~tendermint

#475 Update pureconfig to 0.10.2
  project/SbtCommons.scala
Labels: scala

#473 Add `deploy_netdata` to fabfile.py
  tools/deploy/config/Caddyfile
  tools/deploy/config/netdata.conf
  tools/deploy/fabfile.py
  tools/deploy/scripts/netdata.yml
  tools/deploy/utils.py
Labels: ~infrastructure

#478 Support empty fields in `block` json, support `null` blocks
  ethclient/src/main/scala/fluence/ethclient/EthClient.scala
  ethclient/src/main/scala/fluence/ethclient/data/Block.scala
  ethclient/src/main/scala/fluence/ethclient/data/Transaction.scala
  node/src/main/scala/fluence/node/eth/NodeEth.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/TendermintConfig.scala
Labels: bug

#482 Add a few lines on how to register Kovan eth account
  docs/guides/kickstart.md
Labels: documentation

#483 Basic RocksDB KVStore implementation
  build.sbt
  effects/kvstore/src/main/scala/fluence/effects/kvstore/KVStore.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/KVStoreError.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/MVarKVStore.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/RocksDBStore.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/KVStoreTestKit.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/MVarStoreSpec.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/RocksDBStoreSpec.scala
  project/SbtCommons.scala
Labels: enhancement, ~external storage

#484 externalstorage -> effects/swarm
  build.sbt
  effects/swarm/README.md
  effects/swarm/src/main/scala/fluence/swarm/BzzProtocol.scala
  effects/swarm/src/main/scala/fluence/swarm/MutableResourceIdentifier.scala
  effects/swarm/src/main/scala/fluence/swarm/ResourceParams.scala
  effects/swarm/src/main/scala/fluence/swarm/SwarmClient.scala
  effects/swarm/src/main/scala/fluence/swarm/SwarmConstants.scala
  effects/swarm/src/main/scala/fluence/swarm/SwarmError.scala
  effects/swarm/src/main/scala/fluence/swarm/crypto/Keccak256Hasher.scala
  effects/swarm/src/main/scala/fluence/swarm/crypto/Secp256k1Signer.scala
  effects/swarm/src/main/scala/fluence/swarm/helpers/AttemptOps.scala
  effects/swarm/src/main/scala/fluence/swarm/helpers/ByteVectorJsonCodec.scala
  effects/swarm/src/main/scala/fluence/swarm/helpers/ResponseOps.scala
  effects/swarm/src/main/scala/fluence/swarm/helpers/SignatureDataOps.scala
  effects/swarm/src/main/scala/fluence/swarm/meta/MetaHash.scala
  effects/swarm/src/main/scala/fluence/swarm/meta/Metadata.scala
  effects/swarm/src/main/scala/fluence/swarm/meta/RootAddr.scala
  effects/swarm/src/main/scala/fluence/swarm/meta/Signature.scala
  effects/swarm/src/main/scala/fluence/swarm/requests/InitializeMutableResourceRequest.scala
  effects/swarm/src/main/scala/fluence/swarm/requests/UpdateMutableResourceRequest.scala
  effects/swarm/src/main/scala/fluence/swarm/requests/UploadMutableResourceRequest.scala
  effects/swarm/src/main/scala/fluence/swarm/responses/Manifest.scala
  effects/swarm/src/test/scala/fluence/swarm/InitializeRequestSpec.scala
  effects/swarm/src/test/scala/fluence/swarm/SwarmClientIntegrationSpec.scala
Labels: minor, scala, tech debt

#487 Client support for tm proxy
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/RpcClient.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
  fluence-js/src/examples/fluence-sqldb/index.ts
  fluence-js/src/fluence.ts
  fluence-js/src/tx.ts
  monitoring/package-lock.json
  monitoring/package.json
  monitoring/src/app.ts
  monitoring/src/fluence.ts
  monitoring/src/node.ts
  monitoring/src/nodeStatus.ts
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/tendermint/rpc/RpcRequest.scala
  node/src/main/scala/fluence/node/workers/tendermint/rpc/TendermintRpc.scala
  statemachine/src/main/scala/fluence/statemachine/tx/TxParser.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
  tools/deploy/config/reserved_peers.txt
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/package-lock.json
  tools/deploy/scripts/package.json
  tools/deploy/scripts/parity.yml
Labels: feature, js, ~fluence-js

#486 hello-world on Rust 2015
  build.sbt
  vm/examples/hello-world2/app-2015/Cargo.lock
  vm/examples/hello-world2/app-2015/Cargo.toml
  vm/examples/hello-world2/app-2015/rust-toolchain
  vm/examples/hello-world2/app-2015/src/lib.rs
  vm/examples/hello-world2/app-2018/Cargo.lock
  vm/examples/hello-world2/app-2018/Cargo.toml
  vm/examples/hello-world2/app-2018/rust-toolchain
  vm/examples/hello-world2/app-2018/src/lib.rs
  vm/examples/hello-world2/runner/src/main/scala/HelloWorldRunner.scala
Labels: rust, ~rust_sdk

#470 tic-tac-toe backend part
  build.sbt
  vm/examples/tic-tac-toe/app/Cargo.lock
  vm/examples/tic-tac-toe/app/Cargo.toml
  vm/examples/tic-tac-toe/app/rust-toolchain
  vm/examples/tic-tac-toe/app/src/error_type.rs
  vm/examples/tic-tac-toe/app/src/game.rs
  vm/examples/tic-tac-toe/app/src/game_manager.rs
  vm/examples/tic-tac-toe/app/src/json_parser.rs
  vm/examples/tic-tac-toe/app/src/lib.rs
  vm/examples/tic-tac-toe/app/src/player.rs
  vm/examples/tic-tac-toe/app/src/tests.rs
  vm/examples/tic-tac-toe/runner/src/main/resources/reference.conf
  vm/examples/tic-tac-toe/runner/src/main/scala/TicTacToeRunner.scala
Labels: rust, scala, ~rust_sdk, ~virtual machine

#490 Js/capacity support
  .travis.yml
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/fluence.ts
  monitoring/package-lock.json
  monitoring/package.json
  monitoring/src/app.ts
  monitoring/src/cluster.ts
  monitoring/src/fluence.ts
  monitoring/src/node.ts
Labels: enhancement, js, ~fluence-js

#488 Support capacity and api port in CLI, deployment scripts and docs
  .travis.yml
  cli/README.md
  cli/src/contract_status/app.rs
  cli/src/contract_status/mod.rs
  cli/src/contract_status/ui/mod.rs
  cli/src/delete_all.rs
  cli/src/publisher.rs
  cli/src/register.rs
  cli/tests/delete_app.rs
  cli/tests/utils/mod.rs
  docs/guides/miner.md
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/fluence.ts
  monitoring/package-lock.json
  monitoring/package.json
  monitoring/src/app.ts
  monitoring/src/cluster.ts
  monitoring/src/fluence.ts
  monitoring/src/node.ts
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/instances.json
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/kovan-compose.sh
  tools/deploy/scripts/multiple-node.yml
  tools/deploy/scripts/node.yml
  tools/deploy/test_deploy.py
  tools/deploy/utils.py
Labels: documentation, refactoring, rust, ~CLI, ~infrastructure

#492 Add support for Geth & Rinkeby
  cli/Cargo.lock
  cli/Cargo.toml
  node/src/main/resources/reference.conf
  project/SbtCommons.scala
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/deploy-contract.js
  tools/deploy/scripts/geth.yml
  tools/deploy/scripts/node.yml
  tools/deploy/scripts/package-lock.json
  tools/deploy/scripts/package.json
Labels: feature, ~infrastructure, ~node

#497 Update contract address to Rinkeby
  dashboard/src/constants.ts
  docs/guides/frontend.md
  docs/guides/kickstart.md
  docs/guides/miner.md
  fluence-js/src/examples/fluence-sqldb/index.ts
  tools/deploy/deployment_config.json
  tools/deploy/scripts/contract.txt
  tools/deploy/scripts/rinkeby-compose.sh
Labels: documentation, enhancement, ~infrastructure

#498 Use exitfailure crate to show nice error messages
  cli/Cargo.lock
  cli/Cargo.toml
  cli/src/check.rs
  cli/src/command.rs
  cli/src/main.rs
  cli/src/utils.rs
Labels: enhancement, rust, ~CLI

#496 Store 5 days of metrics & move netdata conf to a separate directory
  tools/deploy/config/netdata.conf
  tools/deploy/fabfile.py
  tools/deploy/scripts/netdata.yml
Labels: enhancement, ~infrastructure

#494 Add limits on parity, geth & swarm
  docs/guides/miner.md
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/geth.yml
  tools/deploy/scripts/parity.yml
  tools/deploy/scripts/swarm.yml
Labels: refactoring, ~infrastructure

#502 TTT hot fix
  vm/examples/tic-tac-toe/app/src/game.rs
Labels: bug, ~rust_sdk

#495 Add dashboard styling
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/app/style.css
  dashboard/src/front/components/fluence-app/index.tsx
  dashboard/src/front/components/fluence-node-status/index.tsx
  dashboard/src/front/components/fluence-node/index.tsx
  dashboard/src/front/static/index.html
Labels: js, ~dashboard

#504 Logging enhancements
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/main/resources/docker/application.conf
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/LogLevel.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/docker/DockerIO.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/main/scala/fluence/statemachine/state/Committer.scala
  statemachine/src/main/scala/fluence/statemachine/tx/TxInvocationResult.scala
  statemachine/src/main/scala/fluence/statemachine/tx/TxProcessor.scala
  tools/deploy/scripts/netdata.yml
  tools/deploy/scripts/node.yml
  tools/deploy/scripts/parity.yml
  tools/deploy/scripts/swarm.yml
  vm/src/main/scala/fluence/vm/wasm/WasmFunction.scala
  vm/src/test/scala/fluence/vm/AsmbleWasmVmSpec.scala
Labels: enhancement, refactoring, scala, ~node, ~worker

#506 Fix base64 encoding in fluence js
  docs/guides/kickstart.md
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/Session.ts
  fluence-js/src/Signer.ts
  fluence-js/src/tx.ts
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  tools/deploy/deployment_config.json
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/deploy-contract.js
  tools/deploy/scripts/geth.yml
Labels: bug, js, ~fluence-js

#500 SDK book, version 0.1
  sdk/rust/doc/.gitignore
  sdk/rust/doc/book.toml
  sdk/rust/doc/book/.nojekyll
  sdk/rust/doc/book/FontAwesome/css/font-awesome.css
  sdk/rust/doc/book/FontAwesome/fonts/FontAwesome.ttf
  sdk/rust/doc/book/FontAwesome/fonts/fontawesome-webfont.eot
  sdk/rust/doc/book/FontAwesome/fonts/fontawesome-webfont.svg
  sdk/rust/doc/book/FontAwesome/fonts/fontawesome-webfont.ttf
  sdk/rust/doc/book/FontAwesome/fonts/fontawesome-webfont.woff
  sdk/rust/doc/book/FontAwesome/fonts/fontawesome-webfont.woff2
  sdk/rust/doc/book/app_convention.html
  sdk/rust/doc/book/app_debugging.html
  sdk/rust/doc/book/ayu-highlight.css
  sdk/rust/doc/book/best_practices.html
  sdk/rust/doc/book/book.js
  sdk/rust/doc/book/clipboard.min.js
  sdk/rust/doc/book/css/chrome.css
  sdk/rust/doc/book/css/general.css
  sdk/rust/doc/book/css/print.css
  sdk/rust/doc/book/css/variables.css
  sdk/rust/doc/book/elasticlunr.min.js
  sdk/rust/doc/book/examples.html
  sdk/rust/doc/book/favicon.png
  sdk/rust/doc/book/highlight.css
  sdk/rust/doc/book/highlight.js
  sdk/rust/doc/book/images/arch_overview.png
  sdk/rust/doc/book/images/drawio/arch_overview.xml
  sdk/rust/doc/book/index.html
  sdk/rust/doc/book/inroduction.html
  sdk/rust/doc/book/mark.min.js
  sdk/rust/doc/book/print.html
  sdk/rust/doc/book/quick_start.html
  sdk/rust/doc/book/sdk_overview.html
  sdk/rust/doc/book/searcher.js
  sdk/rust/doc/book/searchindex.js
  sdk/rust/doc/book/searchindex.json
  sdk/rust/doc/book/tomorrow-night.css
  sdk/rust/doc/src/SUMMARY.md
  sdk/rust/doc/src/app_convention.md
  sdk/rust/doc/src/app_debugging.md
  sdk/rust/doc/src/best_practices.md
  sdk/rust/doc/src/examples.md
  sdk/rust/doc/src/images/arch_overview.png
  sdk/rust/doc/src/images/drawio/arch_overview.xml
  sdk/rust/doc/src/inroduction.md
  sdk/rust/doc/src/quick_start.md
  sdk/rust/doc/src/sdk_overview.md
Labels: documentation, rust, ~rust_sdk

#507 Llamadb ack fix
  docs/src/frontend.md
Labels: documentation

#508 Acknowledgment fix
  docs/book/frontend.html
  docs/book/print.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/src/frontend.md
Labels: documentation

#509 Documentation
  docs/book.toml
  docs/book/backend/app_conventions.html
  docs/book/backend/app_debugging.html
  docs/book/backend/best_practices.html
  docs/book/backend/examples.html
  docs/book/backend/index.html
  docs/book/backend/sdk_overview.html
  docs/book/frontend.html
  docs/book/index.html
  docs/book/introduction.html
  docs/book/kickstart.html
  docs/book/miner.html
  docs/book/print.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/src/SUMMARY.md
  docs/src/benchmarks.md
  docs/src/examples/backend.md
  docs/src/examples/examples.md
  docs/src/examples/frontend.md
  docs/src/frontend.md
  docs/src/images/architecture_overview.png
  docs/src/introduction.md
  docs/src/kickstart.md
  docs/src/overview/motivation.md
  docs/src/overview/overview.md
  docs/src/quickstart/plan.md
  docs/src/quickstart/publish.md
  docs/src/quickstart/rust.md
  docs/src/quickstart/web.md
  docs/src/quickstart/wrappingup.md
  docs/src/roles/backend.md
  docs/src/roles/miner.md
  docs/src/tools/cli_README.md
  docs/src/tools/js_README.md
  docs/src/tools/rust_README.md
  docs/src/tools/tools.md
  docs/src/unsolved.md
  docs/src/whatworks.md
Labels: documentation

#512 Missing htmls!
  docs/book/backend/app_debugging.html
  docs/book/backend/best_practices.html
  docs/book/backend/examples.html
  docs/book/backend/index.html
  docs/book/backend/sdk_overview.html
  docs/book/print.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/book/tools/cli_README.html
  docs/book/tools/js_README.html
  docs/book/tools/rust_README.html
  docs/src/backend/app_debugging.md
  docs/src/backend/best_practices.md
  docs/src/backend/examples.md
  docs/src/backend/index.md
  docs/src/backend/sdk_overview.md
Labels: documentation

#513 Fix quickstart
  docs/book/print.html
  docs/book/quickstart/publish.html
  docs/book/quickstart/rust.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/src/quickstart/publish.md
  docs/src/quickstart/rust.md
Labels: documentation

#514 Ability to use external Swarm & Ethereum
  node/src/main/resources/docker/application.conf
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/config/SwarmConfig.scala
  node/src/main/scala/fluence/node/workers/CodeManager.scala
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/node.yml
  tools/deploy/test_deploy.py
  tools/deploy/utils.py
Labels: ~infrastructure, ~node

#515 Sdk/version 0.0.12
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/src/lib.rs
  build.sbt
  docs/book/backend/app_debugging.html
  docs/book/backend/sdk_overview.html
  docs/book/print.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/src/backend/app_debugging.md
  docs/src/backend/sdk_overview.md
  vm/examples/counter/Cargo.lock
  vm/examples/counter/Cargo.toml
  vm/examples/hello-world/app-with-sdk/Cargo.lock
  vm/examples/hello-world/app-with-sdk/Cargo.toml
  vm/examples/hello-world/app-with-sdk/rust-toolchain
  vm/examples/hello-world/app-with-sdk/src/lib.rs
  vm/examples/hello-world/app-without-sdk/Cargo.lock
  vm/examples/hello-world/app-without-sdk/Cargo.toml
  vm/examples/hello-world/app-without-sdk/rust-toolchain
  vm/examples/hello-world/app-without-sdk/src/lib.rs
  vm/examples/hello-world2/app-2015/Cargo.lock
  vm/examples/hello-world2/app-2015/Cargo.toml
  vm/examples/hello-world2/app-2018/Cargo.lock
  vm/examples/hello-world2/app-2018/Cargo.toml
  vm/examples/llamadb/Cargo.lock
  vm/examples/llamadb/Cargo.toml
  vm/examples/tic-tac-toe/app/Cargo.lock
  vm/examples/tic-tac-toe/app/Cargo.toml
  vm/src/it/scala/fluence/vm/HelloWorldIntegrationTest.scala
Labels: documentation, rust, ~rust_sdk
