Repository fluencelabs/nox, pull requests merged in 2019-06, with the labels that each got.

#702 New dashboard layout
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/abi/Dashboard.json
  dashboard/src/constants.ts
  dashboard/src/fluence/apps/index.ts
  dashboard/src/fluence/contract.ts
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/fluence/index.ts
  dashboard/src/fluence/nodes/index.ts
  dashboard/src/front/actions/apps/app-ids.ts
  dashboard/src/front/actions/apps/app-refs.ts
  dashboard/src/front/actions/apps/apps.ts
  dashboard/src/front/actions/apps/delete-app.ts
  dashboard/src/front/actions/deployable/deploy.ts
  dashboard/src/front/actions/ethereum-connection.ts
  dashboard/src/front/actions/index.ts
  dashboard/src/front/actions/modal.ts
  dashboard/src/front/actions/nodes/delete-node.ts
  dashboard/src/front/actions/nodes/node-ids.ts
  dashboard/src/front/actions/nodes/node-refs.ts
  dashboard/src/front/actions/nodes/nodes-app-status.ts
  dashboard/src/front/actions/nodes/nodes.ts
  dashboard/src/front/app.tsx
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/app/style.css
  dashboard/src/front/components/fluence-app-snippet/index.tsx
  dashboard/src/front/components/fluence-app/index.tsx
  dashboard/src/front/components/fluence-apps-list/index.tsx
  dashboard/src/front/components/fluence-cluster/index.tsx
  dashboard/src/front/components/fluence-deployable-app/index.tsx
  dashboard/src/front/components/fluence-list/index.tsx
  dashboard/src/front/components/fluence-menu/index.tsx
  dashboard/src/front/components/fluence-modal/index.tsx
  dashboard/src/front/components/fluence-node/index.tsx
  dashboard/src/front/components/fluence-nodes-list/index.tsx
  dashboard/src/front/components/fluence-text/index.tsx
  dashboard/src/utils/index.ts
  dashboard/webpack.config.js
Labels: enhancement, js, ~dashboard

#703 update asmble version to fix memory hash calculation
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketServer.scala
  project/DockerContainers.scala
  project/SbtCommons.scala
  vm/frun/src/main/resources/reference.conf
  vm/src/it/resources/test-cases/hello-world/runner/src/main/resources/reference.conf
  vm/src/main/scala/fluence/vm/wasm/MemoryHasher.scala
  vm/src/test/scala/fluence/vm/AsmbleWasmVmSpec.scala
Labels: bug

#704 Add filler icons for empty lists
  dashboard/src/front/components/app/style.css
  dashboard/src/front/components/fluence-list/index.tsx
Labels: ~dashboard

#708 dashboard devops
  tools/deploy/dashboard/Caddyfile
  tools/deploy/dashboard/caddy.yml
Labels: ~dashboard, ~infrastructure

#707 Kademlia config for Node
  kademlia/src/main/scala/fluence/kad/Kademlia.scala
  kademlia/src/main/scala/fluence/kad/RoutingConf.scala
  kademlia/testkit/src/main/scala/fluence/kad/testkit/TestKademlia.scala
  log/src/main/scala/fluence/log/Log.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/resources/docker/application.conf
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/KademliaNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/KademliaConfig.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
Labels: enhancement, scala, ~general, ~node

#709 Dashboard tuning and bugfix
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/components/fluence-app-snippet/index.tsx
  dashboard/src/front/components/fluence-list/index.tsx
  dashboard/src/front/components/fluence-text/index.tsx
Labels: ~dashboard

#710 Use Tendermint algo for Kademlia signatures
  log/src/main/scala/fluence/log/Log.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  project/SbtCommons.scala
Labels: enhancement, scala, ~node

#711 New dashboard Ethereum account
  dashboard/src/constants.ts
  tools/deploy/scripts/deploy-contract.js
Labels: ~dashboard

#713 Priv validator key parse
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/config/NodeConfig.scala
  node/src/main/scala/fluence/node/workers/tendermint/TendermintPrivateKey.scala
  node/src/main/scala/fluence/node/workers/tendermint/ValidatorPublicKey.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/GenesisConfig.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/ValidatorConfig.scala
  project/SbtCommons.scala
Labels: feature

#718 scalafmt align pattern matching
  .scalafmt.conf
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsClient.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/JsonErrors.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Header.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/WebsocketTendermintRpc.scala
  kademlia/src/main/scala/fluence/kad/routing/IterativeRoutingImpl.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/config/LogLevel.scala
  node/src/main/scala/fluence/node/eth/state/StorageRef.scala
  node/src/main/scala/fluence/node/eth/state/StorageType.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  vm/frun/src/main/scala/Main.scala
  vm/frun/src/main/scala/Rust.scala
Labels: scala

#719 Fix disappearing dashboard menu
  dashboard/src/front/components/app/style.css
Labels: js, ~dashboard

#722 change ipfs address
  dashboard/src/constants.ts
Labels: bug

#720 Rust backend sdk 0.1.5
  .circleci/config.yml
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/macro/src/macro_attr_parser.rs
  backend-sdk/crates/macro/src/macro_input_parser.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/export_allocator/mod.rs
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/crates/main/src/logger/mod.rs
  backend-sdk/crates/main/src/memory/mod.rs
  backend-sdk/src/lib.rs
Labels: rust, ~rust_sdk

#724 specify function name in the error message
  vm/src/main/scala/fluence/vm/wasm/WasmModule.scala
  vm/src/test/scala/fluence/vm/AsmbleWasmVmSpec.scala
Labels: enhancement, minor, scala, ~virtual machine

#727 Update redis to v0.4
  dashboard/src/fluence/deployable/index.ts
Labels: redis, ~dashboard

#729 Dashboard texts change
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/components/fluence-app-snippet/index.tsx
  dashboard/src/front/components/fluence-text/index.tsx
Labels: ~dashboard
