Repository fluencelabs/nox, pull requests merged in 2019-03, with the labels that each got.

#519 Enable google analytics
  docs/book.toml
  docs/book/backend/app_conventions.html
  docs/book/backend/app_debugging.html
  docs/book/backend/best_practices.html
  docs/book/backend/examples.html
  docs/book/backend/index.html
  docs/book/backend/sdk_overview.html
  docs/book/benchmarks.html
  docs/book/examples/backend.html
  docs/book/examples/examples.html
  docs/book/examples/frontend.html
  docs/book/index.html
  docs/book/introduction.html
  docs/book/overview/motivation.html
  docs/book/overview/overview.html
  docs/book/print.html
  docs/book/quickstart/plan.html
  docs/book/quickstart/publish.html
  docs/book/quickstart/rust.html
  docs/book/quickstart/web.html
  docs/book/quickstart/wrappingup.html
  docs/book/roles/miner.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/book/tools/cli_README.html
  docs/book/tools/js_README.html
  docs/book/tools/rust_README.html
  docs/book/tools/tools.html
  docs/book/unsolved.html
  docs/book/whatworks.html
  docs/src/quickstart/plan.md
  docs/src/quickstart/wrappingup.md
Labels: documentation, ~infrastructure

#518 Limit cluster size by 4
  cli/README.md
  cli/src/publisher.rs
Labels: ~CLI, ~infrastructure

#521 update sqldb view
  fluence-js/package-lock.json
  fluence-js/src/TendermintClient.ts
  fluence-js/src/examples/fluence-sqldb/index.html
  fluence-js/src/examples/fluence-sqldb/index.ts
  fluence-js/src/examples/fluence-sqldb/package-lock.json
  fluence-js/src/examples/fluence-sqldb/package.json
Labels: js

#520 Rust guessing game
  vm/examples/guessing-game/Cargo.lock
  vm/examples/guessing-game/Cargo.toml
  vm/examples/guessing-game/rust-toolchain
  vm/examples/guessing-game/src/lib.rs
Labels: documentation, rust, ~rust_sdk, ~virtual machine

#524 Optimize travis tests
  .travis.yml
Labels: enhancement, ~infrastructure

#523 add user name limit to tic-tac-toe
  vm/examples/tic-tac-toe/app/src/game_manager.rs
  vm/examples/tic-tac-toe/app/src/lib.rs
Labels: enhancement, rust, ~rust_sdk

#522 Sdk/version 0.0.13
  backend-sdk/Cargo.toml
  backend-sdk/README.md
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/macro/src/macro_input_parser.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/crates/main/src/logger/mod.rs
  backend-sdk/src/lib.rs
  docs/book/backend/app_conventions.html
  docs/book/backend/app_debugging.html
  docs/book/backend/best_practices.html
  docs/book/backend/examples.html
  docs/book/backend/index.html
  docs/book/backend/sdk_overview.html
  docs/book/print.html
  docs/book/searchindex.js
  docs/book/searchindex.json
  docs/book/tools/cli_README.html
  docs/book/tools/rust_README.html
  docs/src/backend/app_conventions.md
  docs/src/backend/app_debugging.md
  docs/src/backend/best_practices.md
  docs/src/backend/examples.md
  docs/src/backend/index.md
  docs/src/backend/sdk_overview.md
Labels: enhancement, rust, ~rust_sdk

#532 A dice game
  .travis.yml
  build.sbt
  vm/examples/dice-game/Cargo.lock
  vm/examples/dice-game/Cargo.toml
  vm/examples/dice-game/rust-toolchain
  vm/examples/dice-game/src/error_type.rs
  vm/examples/dice-game/src/game_manager.rs
  vm/examples/dice-game/src/lib.rs
  vm/examples/dice-game/src/request_response.rs
  vm/examples/dice-game/src/tests.rs
Labels: rust, ~rust_sdk

#528 Cli/setup
  cli/Cargo.lock
  cli/Cargo.toml
  cli/README.md
  cli/src/check.rs
  cli/src/command.rs
  cli/src/config.rs
  cli/src/contract_func.rs
  cli/src/contract_status/mod.rs
  cli/src/credentials.rs
  cli/src/delete_all.rs
  cli/src/delete_app.rs
  cli/src/delete_node.rs
  cli/src/ethereum_params.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/publisher.rs
  cli/src/register.rs
  cli/src/setup.rs
  cli/src/utils.rs
  cli/tests/utils/mod.rs
  dashboard/package-lock.json
  docs/src/quickstart/publish.md
  docs/src/quickstart/web.md
Labels: enhancement, feature, ~CLI

#536 small visual fixes
  cli/src/setup.rs
Labels: ~CLI

#544 Fix symlink, faucet doc and add new nodes
  docs/src/cli.md
  docs/src/quickstart/publish.md
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
Labels: documentation, ~infrastructure

#546 [FORCE MERGE] remove dollars
  docs/src/quickstart/publish.md
Labels: documentation

#547 Contract/fix
  bootstrap/contracts/Deployer.sol
  cli/README.md
  dashboard/src/constants.ts
  docs/src/nodes.md
  docs/src/quickstart/web.md
  effects/ethclient/src/main/java/fluence/effects/ethclient/Network.java
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/scripts/contract.txt
  tools/deploy/scripts/deploy-contract.js
Labels: bug

#541 Sdk/version 0.1.0
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/src/lib.rs
  vm/examples/counter/Cargo.lock
  vm/examples/counter/Cargo.toml
  vm/examples/dice-game/Cargo.lock
  vm/examples/dice-game/Cargo.toml
  vm/examples/guessing-game/Cargo.lock
  vm/examples/guessing-game/Cargo.toml
  vm/examples/hello-world/app-with-sdk/Cargo.lock
  vm/examples/hello-world/app-with-sdk/Cargo.toml
  vm/examples/hello-world2/app-2015/Cargo.lock
  vm/examples/hello-world2/app-2015/Cargo.toml
  vm/examples/hello-world2/app-2018/Cargo.lock
  vm/examples/hello-world2/app-2018/Cargo.toml
  vm/examples/llamadb/Cargo.lock
  vm/examples/llamadb/Cargo.toml
  vm/examples/tic-tac-toe/app/Cargo.lock
  vm/examples/tic-tac-toe/app/Cargo.toml
Labels: rust, ~rust_sdk

#559 rename invoke to request
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/ResultAwait.ts
  fluence-js/src/Session.ts
  fluence-js/src/examples/todo-list/index.js
  fluence-js/src/examples/todo-list/package-lock.json
  fluence-js/src/examples/todo-list/package.json
  fluence-js/src/fluence.ts
  fluence-js/src/responses.ts
Labels: js, ~fluence-js

#537 Move vm/examples to /tutorials repo
  .travis.yml
  build.sbt
  node/src/it/scala/fluence.node/DockerSetup.scala
  project/SbtCommons.scala
  vm/examples/README.md
  vm/examples/dice-game/Cargo.lock
  vm/examples/dice-game/Cargo.toml
  vm/examples/dice-game/src/error_type.rs
  vm/examples/dice-game/src/game_manager.rs
  vm/examples/dice-game/src/lib.rs
  vm/examples/dice-game/src/request_response.rs
  vm/examples/dice-game/src/tests.rs
  vm/examples/guessing-game/Cargo.lock
  vm/examples/guessing-game/Cargo.toml
  vm/examples/guessing-game/rust-toolchain
  vm/examples/guessing-game/src/lib.rs
  vm/examples/hello-world/app-with-sdk/Cargo.lock
  vm/examples/hello-world/app-with-sdk/Cargo.toml
  vm/examples/hello-world/app-with-sdk/rust-toolchain
  vm/examples/hello-world/app-with-sdk/src/lib.rs
  vm/examples/hello-world/app-without-sdk/Cargo.lock
  vm/examples/hello-world/app-without-sdk/Cargo.toml
  vm/examples/hello-world/app-without-sdk/rust-toolchain
  vm/examples/hello-world/app-without-sdk/src/lib.rs
  vm/examples/hello-world2/app-2015/Cargo.lock
  vm/examples/hello-world2/app-2015/Cargo.toml
  vm/examples/hello-world2/app-2015/rust-toolchain
  vm/examples/hello-world2/app-2015/src/lib.rs
  vm/examples/hello-world2/app-2018/rust-toolchain
  vm/examples/llamadb/rust-toolchain
  vm/examples/tic-tac-toe/app/Cargo.lock
  vm/examples/tic-tac-toe/app/Cargo.toml
  vm/examples/tic-tac-toe/app/rust-toolchain
  vm/examples/tic-tac-toe/app/src/error_type.rs
  vm/examples/tic-tac-toe/app/src/game.rs
  vm/examples/tic-tac-toe/app/src/game_manager.rs
  vm/examples/tic-tac-toe/app/src/json_parser.rs
  vm/examples/tic-tac-toe/app/src/lib.rs
  vm/examples/tic-tac-toe/app/src/player.rs
  vm/examples/tic-tac-toe/app/src/tests.rs
  vm/examples/tic-tac-toe/runner/src/main/resources/reference.conf
  vm/examples/tic-tac-toe/runner/src/main/scala/TicTacToeRunner.scala
  vm/src/it/resources/test-cases/counter/Cargo.lock
  vm/src/it/resources/test-cases/counter/Cargo.toml
  vm/src/it/resources/test-cases/counter/rust-toolchain
  vm/src/it/resources/test-cases/counter/src/counter.rs
  vm/src/it/resources/test-cases/counter/src/lib.rs
  vm/src/it/resources/test-cases/hello-world/Cargo.lock
  vm/src/it/resources/test-cases/hello-world/Cargo.toml
  vm/src/it/resources/test-cases/hello-world/runner/src/main/resources/reference.conf
  vm/src/it/resources/test-cases/hello-world/runner/src/main/scala/HelloWorldRunner.scala
  vm/src/it/resources/test-cases/hello-world/rust-toolchain
  vm/src/it/resources/test-cases/hello-world/src/lib.rs
  vm/src/it/resources/test-cases/llamadb/Cargo.lock
  vm/src/it/resources/test-cases/llamadb/Cargo.toml
  vm/src/it/resources/test-cases/llamadb/src/lib.rs
  vm/src/it/resources/test-cases/llamadb/src/tests.rs
  vm/src/it/scala/fluence/vm/CounterIntegrationTest.scala
  vm/src/it/scala/fluence/vm/HelloWorldIntegrationTest.scala
  vm/src/it/scala/fluence/vm/LlamadbIntegrationTest.scala
Labels: documentation

#562 DockerIO moved to Effects subproject
  build.sbt
  effects/docker/src/main/scala/fluence/effects/docker/DockerContainer.scala
  effects/docker/src/main/scala/fluence/effects/docker/DockerError.scala
  effects/docker/src/main/scala/fluence/effects/docker/DockerIO.scala
  effects/docker/src/main/scala/fluence/effects/docker/DockerNetwork.scala
  effects/docker/src/main/scala/fluence/effects/docker/DockerStatus.scala
  effects/docker/src/main/scala/fluence/effects/docker/params/DockerImage.scala
  effects/docker/src/main/scala/fluence/effects/docker/params/DockerLimits.scala
  effects/docker/src/main/scala/fluence/effects/docker/params/DockerParams.scala
  effects/ethclient/src/main/scala/fluence/effects/ethclient/EthClientError.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/KVStoreError.scala
  node/src/it/scala/fluence.node/DockerSetup.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/config/DockerConfig.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/config/NodeConfig.scala
  node/src/main/scala/fluence/node/docker/DockerIO.scala
  node/src/main/scala/fluence/node/docker/DockerLimits.scala
  node/src/main/scala/fluence/node/docker/DockerNetwork.scala
  node/src/main/scala/fluence/node/eth/NodeEth.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerParams.scala
  node/src/main/scala/fluence/node/workers/status/ServiceStatus.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
Labels: enhancement, refactoring, scala, tech debt

#563 Tendermint updated to 0.30.2
  .travis.yml
  node/src/main/resources/reference.conf
Labels: ~tendermint

#564 Circleci
  .circleci/config.yml
  .travis.yml
  project/SbtCommons.scala
Labels: ~infrastructure

#568 Travis nightly-2019-03-10
  .travis.yml
Labels: ~infrastructure

#561 Add authorization method choice to CLI
  cli/src/command.rs
  cli/src/config.rs
  cli/src/contract_func.rs
  cli/src/contract_status/mod.rs
  cli/src/credentials.rs
  cli/src/delete_all.rs
  cli/src/delete_app.rs
  cli/src/delete_node.rs
  cli/src/ethereum_params.rs
  cli/src/main.rs
  cli/src/publisher.rs
  cli/src/register.rs
  cli/src/setup.rs
  cli/src/utils.rs
  cli/tests/utils/mod.rs
  project/build.properties
Labels: rust, ~CLI

#567 Specify branch for book submodule
  .gitmodules
Labels: ~infrastructure

#571 Add hardcoded public-key signature checking to llamadb
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/Session.ts
  fluence-js/src/fluence.ts
  fluence-js/src/utils.ts
  vm/src/it/resources/test-cases/llamadb/Cargo.lock
  vm/src/it/resources/test-cases/llamadb/Cargo.toml
  vm/src/it/resources/test-cases/llamadb/src/lib.rs
  vm/src/it/resources/test-cases/llamadb/src/signature.rs
  vm/src/it/scala/fluence/vm/AppIntegrationTest.scala
  vm/src/it/scala/fluence/vm/LlamadbIntegrationTest.scala
Labels: js, rust

#572 Access Tendermint RPC from Statemachine
  build.sbt
  effects/ethclient/src/main/scala/fluence/effects/ethclient/helpers/Web3jConverters.scala
  effects/ethclient/src/test/scala/fluence/effects/ethclient/ClusterContractSpec.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/RpcError.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/RpcRequest.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/response/Response.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/response/TendermintBlock.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/response/TendermintStatus.scala
  node/src/it/scala/fluence.node/eth/FluenceContractTestOps.scala
  node/src/main/scala/fluence/node/workers/DockerWorker.scala
  node/src/main/scala/fluence/node/workers/Worker.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/status/WorkerStatus.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  project/SbtCommons.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignal.scala
  statemachine/src/main/resources/reference.conf
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  statemachine/src/main/scala/fluence/statemachine/config/TendermintRpcConfig.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
Labels: architecture, enhancement, feature, scala, ~node, ~tendermint, ~worker

#575 Fix llamadb snippet in dashboard
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
Labels: js, ~dashboard

#577 Fix receipt logs parsing in dashboard
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/actions/deployable/deploy.ts
  dashboard/src/front/actions/deployable/snippets.ts
  dashboard/src/front/components/fluence-deployable-app/index.tsx
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
  dashboard/src/types/ethereum-event-logs.d.ts
Labels: js, ~dashboard

#570 Sdk/version 0.1.1
  backend-sdk/Cargo.toml
  backend-sdk/README.md
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/macro/src/macro_input_parser.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/export_allocator/mod.rs
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/src/lib.rs
  fluence-js/README.md
Labels: rust, ~rust_sdk

#578 Implement global ordering
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
  fluence-js/src/fluence.ts
Labels: js, ~fluence-js

#581 Get worker status from AppSession
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/fluence.ts
  monitoring/package.json
  monitoring/src/fluence.ts
Labels: enhancement, js, ~fluence-js

#582 Add window.fluence and swarm wasm link, improve snippet
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/fluence-cluster/index.tsx
  dashboard/src/front/components/fluence-deployable-app/index.tsx
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
  dashboard/src/utils/index.ts
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/fluence.ts
  fluence-js/src/test/utils.spec.ts
  fluence-js/src/utils.ts
  vm/src/it/resources/test-cases/llamadb/src/signature.rs
Labels: js, ~dashboard

#583 improve snippet
  dashboard/src/constants.ts
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
Labels: js, ~dashboard

#585 Change hash
  dashboard/src/fluence/deployable/index.ts
Labels: ~dashboard

#586 Fix connect in dashboard
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
Labels: ~dashboard

#587 sdk/version_0.1.4
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/src/lib.rs
Labels: rust, ~rust_sdk

#589 Remove appId on appDequeue, deploy app on app delete
  .circleci/config.yml
  bootstrap/contracts/Deployer.sol
  bootstrap/test/AppDeleteTest.js
  cli/src/contract_status/app.rs
Labels: solidity, ~contract

#593 Solidity 0.5.7
  .travis.yml
  bootstrap/contracts/Deployer.sol
  bootstrap/contracts/Migrations.sol
  bootstrap/contracts/Network.sol
  bootstrap/package-lock.json
  bootstrap/package.json
  bootstrap/scripts/compile_sol.js
  bootstrap/test/AppDeleteTest.js
  bootstrap/test/FluenceContractTest.js
  bootstrap/test/NodeDeleteTest.js
  bootstrap/test/PinningTest.js
  bootstrap/test/Utils.js
  bootstrap/truffle.js
  effects/ethclient/src/main/java/fluence/effects/ethclient/Network.java
Labels: js, solidity, ~contract
