Repository fluencelabs/nox, pull requests merged in 2019-08, with the labels that each got.

#758 Add gas metering tool
  tools/wasm-utils/Cargo.lock
  tools/wasm-utils/Cargo.toml
  tools/wasm-utils/src/main.rs
Labels: rust

#760 Node: request-response at once
  build.sbt
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/http/RpcError.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/websocket/TendermintWebsocketRpcImpl.scala
  node/src/it/scala/fluence/node/DockerSetup.scala
  node/src/it/scala/fluence/node/GanacheSetup.scala
  node/src/it/scala/fluence/node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence/node/MasterNodeSpec.scala
  node/src/it/scala/fluence/node/OsSetup.scala
  node/src/it/scala/fluence/node/TendermintSetup.scala
  node/src/it/scala/fluence/node/TestWorkerServices.scala
  node/src/it/scala/fluence/node/TestWorkersPool.scala
  node/src/it/scala/fluence/node/eth/FluenceContractTestOps.scala
  node/src/main/scala/fluence/node/MasterHttp.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerApi.scala
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/WorkerServices.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponsePromise.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriber.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriberImpl.scala
  node/src/main/scala/fluence/node/workers/subscription/TendermintQueryResponse.scala
  node/src/main/scala/fluence/node/workers/subscription/TendermintResponses.scala
  node/src/main/scala/fluence/node/workers/subscription/TxWaitError.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/CustomWorkersPool.scala
  node/testkit/src/test/scala/fluence/node/ResponseSubscriberSpec.scala
  node/testkit/src/test/scala/fluence/node/TendermintTest.scala
  node/testkit/src/test/scala/fluence/node/TestWorkerServices.scala
  statemachine/data/src/main/scala/fluence/statemachine/data/QueryCode.scala
  statemachine/data/src/main/scala/fluence/statemachine/data/Tx.scala
  statemachine/data/src/main/scala/fluence/statemachine/data/TxCode.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  statemachine/src/main/scala/fluence/statemachine/state/AbciState.scala
  statemachine/src/main/scala/fluence/statemachine/state/Session.scala
  statemachine/src/main/scala/fluence/statemachine/state/Sessions.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
  vm/src/test/scala/fluence/vm/AsmbleWasmVmSpec.scala
  vm/src/test/scala/fluence/vm/WasmModuleSpec.scala
Labels: architecture, feature, scala, ~general, ~node

#763 Create network in node.yml, so deployment isn't dependent on ipfs.yml
  tools/deploy/fabfile.py
  tools/deploy/ipfs/ipfs.yml
  tools/deploy/scripts/node.yml
Labels: ~infrastructure

#762 Kademlia DHT as a ReceiptStorage backend
  build.sbt
  effects/kvstore/src/main/scala/fluence/effects/kvstore/KVStore.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/KVStoreError.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/MVarKVStore.scala
  effects/kvstore/src/main/scala/fluence/effects/kvstore/RocksDBStore.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/KVStoreTestKit.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/MVarStoreSpec.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/RocksDBStoreSpec.scala
  history/receipt-storage/src/main/scala/fluence/effects/receipt/storage/KVReceiptStorage.scala
  history/receipt-storage/src/main/scala/fluence/effects/receipt/storage/ReceiptStorage.scala
  history/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/Receipt.scala
  kademlia/dht/src/main/scala/fluence/kad/dht/Dht.scala
  kademlia/dht/src/main/scala/fluence/kad/dht/DhtError.scala
  kademlia/dht/src/main/scala/fluence/kad/dht/DhtLocalStore.scala
  kademlia/dht/src/main/scala/fluence/kad/dht/DhtRpc.scala
  kademlia/dht/src/main/scala/fluence/kad/dht/DhtValueMetadata.scala
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttp.scala
  kademlia/http/src/main/scala/fluence/kad/http/KeyHttp.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttp.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttpClient.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttpNode.scala
  node/src/main/scala/fluence/node/MasterHttp.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/WorkerBlockManifests.scala
  node/src/main/scala/fluence/node/workers/WorkersPorts.scala
  node/src/main/scala/fluence/node/workers/subscription/TxWaitError.scala
  node/src/main/scala/fluence/node/workers/tendermint/BlockUploading.scala
  node/src/main/scala/fluence/node/workers/tendermint/DhtReceiptStorage.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
Labels: enhancement, feature, scala, ~node

#764 fix compilation warning
  node/src/main/scala/fluence/node/workers/subscription/ResponsePromise.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriberImpl.scala
Labels: scala

#766 Add kademlia-js library
  dashboard/package.json
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/fluence-kademlia-contact/index.tsx
  dashboard/src/front/components/fluence-kademlia-contact/style.css
  dashboard/src/front/components/fluence-node-snippet/index.tsx
  kademlia/js/.gitignore
  kademlia/js/.npmignore
  kademlia/js/README.md
  kademlia/js/__mocks__/axios.ts
  kademlia/js/jest.config.js
  kademlia/js/package-lock.json
  kademlia/js/package.json
  kademlia/js/src/index.ts
  kademlia/js/src/lib/Contact.spec.ts
  kademlia/js/src/lib/Contact.ts
  kademlia/js/src/lib/KademliaRpc.spec.ts
  kademlia/js/src/lib/KademliaRpc.ts
  kademlia/js/src/lib/KademliaRpcHttpTransport.ts
  kademlia/js/tsconfig.json
  kademlia/js/tsconfig.spec.json
  kademlia/js/tslint.json
  kademlia/js/types/js-sha1.d.ts
  kademlia/js/types/supercop.js.d.ts
  kademlia/js/webpack.config.js
Labels: feature, js, ~dashboard

#767 Simple DHT refreshing implementation
  kademlia/dht/src/main/scala/fluence/kad/dht/Dht.scala
  kademlia/dht/src/main/scala/fluence/kad/dht/DhtLocalStore.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttpNode.scala
Labels: enhancement, feature, scala, ~node

#772 Fix flapping test in WebsocketRpcSpec
  build.sbt
  effects/tendermint-rpc/src/test/scala/fluence/Eventually.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketRpcSpec.scala
  node/src/it/scala/fluence/node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence/node/MasterNodeSpec.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
Labels: scala, ~node, ~statemachine

#773 Try Scala 2.12.9
  project/SbtCommons.scala
Labels: scala, ~infrastructure

#779 Lazy initialization for SwarmClientIntegrationSpec
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
Labels: bug, scala

#774 fluence JS new API
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/Result.ts
  fluence-js/src/ResultAwait.ts
  fluence-js/src/RpcClient.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
Labels: enhancement, feature, js, typescript, ~fluence-js, ~general

#781 Enable gzip for dashboard
  tools/deploy/dashboard/Caddyfile
Labels: ~dashboard

#782 Removed pureConfig dependency
  build.sbt
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmClient.scala
  project/SbtCommons.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  vm/src/it/resources/reference.conf
  vm/src/main/resources/reference.conf
  vm/src/main/scala/fluence/vm/WasmVm.scala
  vm/src/main/scala/fluence/vm/config/VmConfig.scala
Labels: scala, tech debt, ~worker

#783 Get rid of monitoring dep and update web3 dep
  .circleci/config.yml
  fluence-js/.npmignore
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/Network.json
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
  fluence-js/src/contract.ts
  fluence-js/src/fluence.ts
  fluence-js/tsconfig.json
Labels: js, ~fluence-js

#775 Cache last vm hash, so it can be retried
  build.sbt
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/websocket/TendermintWebsocketRpcImpl.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignals.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignalsImpl.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/HasHeight.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/HasOrderedProperty.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/LastCachingQueue.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/QueueSyntax.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/LastCachingQueueSpec.scala
Labels: scala, ~external storage, ~node, ~statemachine

#768 Gas metering support
  build.sbt
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  node/src/it/scala/fluence/node/DockerSetup.scala
  node/src/it/scala/fluence/node/MasterNodeIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  project/SbtCommons.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  statemachine/src/main/scala/fluence/statemachine/vm/VmOperationInvoker.scala
  statemachine/src/main/scala/fluence/statemachine/vm/WasmVmOperationInvoker.scala
  statemachine/src/test/scala/fluence/statemachine/AbciServiceSpec.scala
  vm/frun/src/main/scala/TxProcessor.scala
  vm/src/it/resources/reference.conf
  vm/src/it/resources/test-cases/hello-world/runner/src/main/scala/HelloWorldRunner.scala
  vm/src/it/resources/test-cases/llamadb/Cargo.toml
  vm/src/it/scala/fluence/vm/AppIntegrationTest.scala
  vm/src/it/scala/fluence/vm/CounterIntegrationTest.scala
  vm/src/it/scala/fluence/vm/HelloWorldIntegrationTest.scala
  vm/src/it/scala/fluence/vm/LlamadbInstrumentedIntegrationTest.scala
  vm/src/it/scala/fluence/vm/LlamadbIntegrationTest.scala
  vm/src/it/scala/fluence/vm/LlamadbIntegrationTestInterface.scala
  vm/src/main/resources/reference.conf
  vm/src/main/scala/fluence/vm/AsmbleWasmVm.scala
  vm/src/main/scala/fluence/vm/VmError.scala
  vm/src/main/scala/fluence/vm/WasmVm.scala
  vm/src/main/scala/fluence/vm/config/VmConfig.scala
  vm/src/main/scala/fluence/vm/wasm/MemoryHasher.scala
  vm/src/main/scala/fluence/vm/wasm/WasmFunction.scala
  vm/src/main/scala/fluence/vm/wasm/WasmModule.scala
  vm/src/main/scala/fluence/vm/wasm/WasmModuleMemory.scala
  vm/src/main/scala/fluence/vm/wasm/module/EnvModule.scala
  vm/src/main/scala/fluence/vm/wasm/module/MainWasmModule.scala
  vm/src/main/scala/fluence/vm/wasm/module/ModuleInstance.scala
  vm/src/main/scala/fluence/vm/wasm/module/WasmModule.scala
  vm/src/test/resources/wast/sum.wast
  vm/src/test/scala/fluence/vm/AsmbleWasmVmSpec.scala
  vm/src/test/scala/fluence/vm/WasmModuleSpec.scala
  vm/src/test/scala/fluence/vm/WasmVmSpec.scala
Labels: enhancement, scala, ~virtual machine

#788 add logs to client errors
  fluence-js/package.json
  fluence-js/src/Result.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
Labels: js, ~fluence-js

#784 Add EIC metering to wasm-utils
  project/SbtCommons.scala
  tools/wasm-utils/Cargo.lock
  tools/wasm-utils/Cargo.toml
  tools/wasm-utils/src/gas_costs.rs
  tools/wasm-utils/src/main.rs
  vm/src/it/scala/fluence/vm/LlamadbInstrumentedIntegrationTest.scala
Labels: feature, rust

#790 bump dyn version to 0.15.44
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/src/lib.rs
Labels: feature, rust, ~rust_sdk

#793 Basic tests for KademliaHttp (including DHT)
  .circleci/config.yml
  build.sbt
  effects/swarm/src/main/scala/fluence/effects/swarm/helpers/SignatureDataOps.scala
  fluence-js/package-lock.json
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttpNode.scala
  kademlia/http/src/test/scala/fluence/kad/http/KademliaHttpSpec.scala
  kademlia/src/main/scala/fluence/kad/Kademlia.scala
  kademlia/testkit/src/test/scala/fluence/kad/KademliaSimulationSpec.scala
  node/src/main/scala/fluence/node/workers/tendermint/DhtReceiptStorage.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  project/SbtCommons.scala
  vm/src/test/scala/fluence/vm/WasmVmSpec.scala
Labels: bug, scala, ~node

#794 Wait for response on 'tx already in cache'
  .circleci/config.yml
  .travis.yml
  build.sbt
  dashboard/package-lock.json
  fluence-js/src/AppSession.ts
  fluence-js/src/RpcClient.ts
  log/src/main/scala/fluence/log/Log.scala
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriber.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriberImpl.scala
  node/src/main/scala/fluence/node/workers/subscription/TxWaitError.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/ResponseSubscriberSpec.scala
  statemachine/data/src/main/scala/fluence/statemachine/data/Tx.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  tools/deploy/scripts/node.yml
Labels: scala, ~node, ~tendermint, ~worker

#798 update versions of sqlite/redis in dashboard
  dashboard/src/fluence/deployable/index.ts
Labels: enhancement

#799 Implement txWaitResponse in frun
  kademlia/src/test/scala/fluence/kad/contact/UriContactSpec.scala
  project/SbtCommons.scala
  vm/frun/src/main/resources/reference.conf
  vm/frun/src/main/scala/Main.scala
  vm/frun/src/main/scala/TxProcessor.scala
Labels: scala, ~infrastructure

#797 return AppSession on directConnect
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/Session.ts
  fluence-js/src/fluence.ts
Labels: js, ~fluence-js

#802 Update redis and sqlite wasm files for better support Rust backends
  dashboard/src/fluence/deployable/index.ts
Labels: enhancement, ~dashboard

#801 logs on errors in frun
  vm/frun/src/main/scala/Main.scala
Labels: enhancement, minor, ~virtual machine

#804 update sqlite to 0.2.0
  dashboard/src/fluence/deployable/index.ts
Labels: enhancement, ~dashboard

#803 Give 100 mb per wasm module in frun
  vm/frun/src/main/resources/reference.conf
Labels: ~infrastructure

#805 Bump fluence js version in dashboard
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/front/components/fluence-app-snippet/index.tsx
  tools/deploy/scripts/compose.sh
Labels: js, ~dashboard, ~fluence-js

#807 Add attrs for side modules
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/macro/src/macro_attr_parser.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/crates/main/src/memory/mod.rs
  backend-sdk/src/lib.rs
Labels: rust, ~rust_sdk

#809 Ability to provide unique module with name as the main
  vm/src/main/scala/fluence/vm/WasmVm.scala
  vm/src/test/scala/fluence/vm/WasmVmSpec.scala
Labels: enhancement, scala, ~virtual machine

#812 add private key to direct connect
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/fluence.ts
Labels: js, ~fluence-js

#813 Log tx result in frun
  vm/frun/src/main/scala/Main.scala
  vm/frun/src/main/scala/TxProcessor.scala
Labels: enhancement

#815 disable debug by default
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
Labels: js, ~fluence-js

#817 Fix dashboard mobile header padding
  dashboard/src/front/components/app/style.css
Labels: ~dashboard

#819 Worker/websocket
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/http/RpcError.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerApi.scala
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/subscription/TxWaitError.scala
  node/src/main/scala/fluence/node/workers/websocket/WebsocketRequests.scala
  node/src/main/scala/fluence/node/workers/websocket/WebsocketResponses.scala
  node/src/main/scala/fluence/node/workers/websocket/WorkersWebsocket.scala
  node/testkit/src/test/scala/fluence/node/TestWorkerApi.scala
  node/testkit/src/test/scala/fluence/node/WebsocketAPISpec.scala
Labels: architecture, enhancement, feature, scala, ~general

#821 Worker and ControlRpc status updates
  node/src/it/scala/fluence/node/TendermintSetup.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/WorkerApi.scala
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpc.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/status/WorkerStatus.scala
  node/src/main/scala/fluence/node/workers/websocket/WorkersWebsocket.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  node/src/test/scala/fluence/node/TestControlRpc.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/TestWorkerApi.scala
  node/testkit/src/test/scala/fluence/node/WebsocketApiSpec.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlStatus.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/HasOrderedProperty.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/LastCachingQueue.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/QueueSyntax.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/signals/ControlSignal.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/signals/ControlSignals.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/signals/ControlSignalsImpl.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/signals/MockedControlSignals.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlSignalsSpec.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  statemachine/src/test/scala/fluence/statemachine/AbciServiceSpec.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
  statemachine/src/test/scala/fluence/statemachine/TestControlSignals.scala
Labels: feature, scala

#822 Sttp as an effect
  build.sbt
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsClient.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsUploader.scala
  effects/ipfs/src/test/scala/fluence/effects/ipfs/IpfsExample.scala
  effects/sttp/src/main/scala/fluence/effects/sttp/SttpEffect.scala
  effects/sttp/src/main/scala/fluence/effects/sttp/SttpEffectMonad.scala
  effects/sttp/src/main/scala/fluence/effects/sttp/SttpError.scala
  effects/sttp/src/main/scala/fluence/effects/sttp/package.scala
  effects/sttp/src/main/scala/fluence/effects/sttp/syntax/package.scala
  effects/sttpEitherT/src/main/scala/fluence/EitherTSttpBackend.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmClient.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmStore.scala
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/http/TendermintHttpRpcImpl.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketRpcSpec.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/websocket/WebsocketBlockSpec.scala
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttpClient.scala
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttpNode.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttpClient.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttpNode.scala
  kademlia/http/src/test/scala/fluence/kad/http/KademliaHttpSpec.scala
  node/src/it/scala/fluence/node/MasterNodeSpec.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerP2pConnectivity.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpc.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/tendermint/block/BlockUploading.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
Labels: refactoring, scala

#823 `expectsEth` flag in `WasmVm`
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
  vm/src/main/scala/fluence/vm/AsmbleWasmVm.scala
  vm/src/main/scala/fluence/vm/WasmVm.scala
  vm/src/main/scala/fluence/vm/wasm/module/MainWasmModule.scala
Labels: feature, scala, ~statemachine

#825 Separate tendermint http & websocket rpc
  effects/kvstore/src/main/scala/fluence/effects/kvstore/RocksDBStore.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/http/TendermintHttpRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/http/TendermintHttpRpcImpl.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/websocket/TendermintWebsocketRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/websocket/TendermintWebsocketRpcImpl.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/TestHttpRpc.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/TestWRpc.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/websocket/TestTendermintHttpRpc.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/websocket/TestTendermintWebsocketRpc.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/websocket/WebsocketBlockSpec.scala
  node/src/it/scala/fluence/node/TestWorkerServices.scala
  node/src/it/scala/fluence/node/TestWorkersPool.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/WorkerP2pConnectivity.scala
  node/src/main/scala/fluence/node/workers/WorkerServices.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriber.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriberImpl.scala
  node/src/main/scala/fluence/node/workers/tendermint/block/BlockUploadingImpl.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/CustomWorkersPool.scala
  node/testkit/src/test/scala/fluence/node/ResponseSubscriberSpec.scala
  node/testkit/src/test/scala/fluence/node/TendermintTest.scala
  node/testkit/src/test/scala/fluence/node/TestWorkerServices.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
Labels: scala

#824 Some WorkerApi-related refactoring
  effects/kvstore/src/main/scala/fluence/effects/kvstore/RocksDBStore.scala
  kademlia/http/src/main/scala/fluence/kad/http/dht/DhtHttpClient.scala
  node/src/it/scala/fluence/node/MasterNodeSpec.scala
  node/src/it/scala/fluence/node/TestWorkersPool.scala
  node/src/main/scala/fluence/node/MasterHttp.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/workers/WorkerApi.scala
  node/src/main/scala/fluence/node/workers/WorkerApiImpl.scala
  node/src/main/scala/fluence/node/workers/api/WorkerApi.scala
  node/src/main/scala/fluence/node/workers/api/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/api/websocket/WebsocketRequests.scala
  node/src/main/scala/fluence/node/workers/api/websocket/WebsocketResponses.scala
  node/src/main/scala/fluence/node/workers/api/websocket/WorkerWebsocket.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/pool/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/pool/WorkerP2pConnectivity.scala
  node/src/main/scala/fluence/node/workers/pool/WorkersPool.scala
  node/src/main/scala/fluence/node/workers/pool/WorkersPorts.scala
  node/src/test/scala/fluence/node/workers/WorkersPortsSpec.scala
  node/testkit/src/test/scala/fluence/node/CustomWorkersPool.scala
  node/testkit/src/test/scala/fluence/node/ResponseSubscriberSpec.scala
  node/testkit/src/test/scala/fluence/node/TestWorkerApi.scala
  node/testkit/src/test/scala/fluence/node/WebsocketApiSpec.scala
Labels: refactoring, scala, tech debt, ~node

#827 Rust sdk 1.8.0
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/eth/mod.rs
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/crates/main/src/side_module/mod.rs
  backend-sdk/src/lib.rs
Labels: rust, ~rust_sdk, ~virtual machine
