Repository fluencelabs/nox, pull requests merged in 2019-04, with the labels that each got.

#596 Start workers asynchronously
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/Worker.scala
  node/src/main/scala/fluence/node/workers/WorkerP2pConnectivity.scala
  node/src/main/scala/fluence/node/workers/WorkerServices.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/WorkersPool.scala
Labels: scala, ~node, ~worker

#597 Automate docker & docker-compose installation
  tools/deploy/fabfile.py
Labels: ~infrastructure

#598 Add IPFS implementation, specify storage in smart contract
  bootstrap/contracts/Deployer.sol
  bootstrap/contracts/Network.sol
  bootstrap/test/AppDeleteTest.js
  bootstrap/test/FluenceContractTest.js
  bootstrap/test/PinningTest.js
  bootstrap/test/Utils.js
  build.sbt
  cli/Cargo.lock
  cli/Cargo.toml
  cli/README.md
  cli/src/config.rs
  cli/src/contract_status/app.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/publisher.rs
  cli/src/setup.rs
  cli/src/storage.rs
  cli/src/uploader.rs
  cli/tests/utils/mod.rs
  docs/src/quickstart/publish.md
  effects/ca-store/src/main/scala/fluence/effects/castore/ContentAddressableStore.scala
  effects/ca-store/src/main/scala/fluence/effects/castore/StoreError.scala
  effects/ethclient/src/main/java/fluence/effects/ethclient/Network.java
  effects/ethclient/src/test/scala/fluence/effects/ethclient/ClusterContractSpec.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsError.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmClient.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmError.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmStore.scala
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  fluence-js/package-lock.json
  fluence-js/src/fluence.ts
  node/src/it/scala/fluence.node/DockerSetup.scala
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/it/scala/fluence.node/eth/FluenceContractTestOps.scala
  node/src/main/resources/docker/application.conf
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/code/CodeCarrier.scala
  node/src/main/scala/fluence/node/code/LocalCodeCarrier.scala
  node/src/main/scala/fluence/node/code/PolyStore.scala
  node/src/main/scala/fluence/node/code/RemoteCodeCarrier.scala
  node/src/main/scala/fluence/node/config/ConfigOps.scala
  node/src/main/scala/fluence/node/config/EndpointsConfig.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/config/storage/IpfsConfig.scala
  node/src/main/scala/fluence/node/config/storage/RemoteStorageConfig.scala
  node/src/main/scala/fluence/node/config/storage/SwarmConfig.scala
  node/src/main/scala/fluence/node/eth/FluenceContract.scala
  node/src/main/scala/fluence/node/eth/state/App.scala
  node/src/main/scala/fluence/node/eth/state/StorageRef.scala
  node/src/main/scala/fluence/node/eth/state/StorageType.scala
  node/src/main/scala/fluence/node/status/MasterStatus.scala
  node/src/main/scala/fluence/node/workers/CodeManager.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  project/SbtCommons.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
Labels: scala, ~node

#601 Cli ipfs directories
  cli/src/storage.rs
Labels: ~CLI

#602 Storage type fixes in js, monitoring, dashboard & node
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/constants.ts
  dashboard/src/fluence/apps/index.ts
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/actions/deployable/deploy.ts
  dashboard/src/front/components/fluence-deployable-app/index.tsx
  dashboard/src/utils/index.ts
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  fluence-js/package-lock.json
  fluence-js/package.json
  monitoring/package-lock.json
  monitoring/package.json
  monitoring/src/app.ts
  node/src/main/scala/fluence/node/eth/FluenceContract.scala
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/node.yml
  tools/deploy/scripts/package-lock.json
Labels: js, scala, ~dashboard, ~fluence-js, ~node

#604 New devnet contract
  dashboard/src/constants.ts
Labels: ~dashboard

#605 Update contract address for new devnet
  cli/Cargo.lock
  cli/Cargo.toml
  cli/README.md
  dashboard/README.md
  dashboard/src/fluence/deployable/index.ts
  docs/src/nodes.md
  docs/src/quickstart/web.md
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  tools/deploy/scripts/contract.txt
Labels: ~infrastructure

#606 Derive account from keystore's secret
  cli/src/credentials.rs
Labels: rust, ~CLI

#609 Dashboard refactoring
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/actions/deployable/deploy.ts
  dashboard/src/front/actions/entity.ts
  dashboard/src/front/actions/index.ts
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/fluence-apps-list/index.tsx
  dashboard/src/front/components/fluence-deploy-list/index.tsx
  dashboard/src/front/components/fluence-nodes-list/index.tsx
Labels: js, refactoring, ~dashboard

#610 Timeouts for status requests
  effects/docker/src/main/scala/fluence/effects/docker/DockerError.scala
  effects/docker/src/main/scala/fluence/effects/docker/DockerIO.scala
  effects/docker/src/main/scala/fluence/effects/docker/DockerRunning.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/scala/fluence/node/MasterHttp.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  node/src/main/scala/fluence/node/status/StatusHttp.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/Worker.scala
  node/src/main/scala/fluence/node/workers/WorkerServices.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/status/HttpStatus.scala
  node/src/main/scala/fluence/node/workers/status/ServiceStatus.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
Labels: enhancement, scala, ~node

#603 [WIP] Node ipfs directories
  build.sbt
  effects/ca-store/src/main/scala/fluence/effects/castore/ContentAddressableStore.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsLsResponse.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  effects/ipfs/src/test/scala/fluence/effects/ipfs/IpfsExample.scala
  effects/sttpEitherT/src/main/scala/fluence/EitherTSttpBackend.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmClient.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmStore.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/helpers/ResponseOps.scala
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/it/scala/fluence.node/TendermintSetup.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/code/PolyStore.scala
  node/src/main/scala/fluence/node/code/RemoteCodeCarrier.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkerP2pConnectivity.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpc.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  project/SbtCommons.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  tools/deploy/scripts/deploy-contract.js
Labels: architecture, enhancement, scala

#613 if hash is not empty, it is a file
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
Labels: bug, ~external storage

#615 fix ipfs
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  project/SbtCommons.scala
Labels: bug, ~external storage

#614 DockerWorkersPool.runWorker refactored
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/it/scala/fluence.node/TestWorkersPool.scala
  node/src/main/scala/fluence/node/MakeResource.scala
  node/src/main/scala/fluence/node/config/NodeConfig.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/Worker.scala
  node/src/main/scala/fluence/node/workers/WorkerP2pConnectivity.scala
Labels: refactoring, scala, ~node

#616 Fix app state in dashboard
  dashboard/src/fluence/deployable/index.ts
Labels: bug, js, ~dashboard

#618 Docs for assemblyscript
  cli/README.md
  docs/src/quickstart/backend-assemblyscript.md
  docs/src/quickstart/ipfs-website.md
Labels: documentation

#619 summary
  docs/src/SUMMARY.md
Labels: documentation

#641 Higher worker & node CPU limits
  tools/deploy/scripts/node.yml
Labels: ~infrastructure, ~node, ~worker

#644 Central netdata + headless collectors
  tools/deploy/README.md
  tools/deploy/config/netdata/Caddyfile
  tools/deploy/config/netdata/netdata_master.conf
  tools/deploy/config/netdata/netdata_slave.conf
  tools/deploy/config/netdata/stream_master.conf
  tools/deploy/config/netdata/stream_slave.conf
  tools/deploy/fabfile.py
  tools/deploy/scripts/netdata/netdata.yml
  tools/deploy/scripts/netdata/netdata_caddy.yml
Labels: ~infrastructure

#643 Runner: multi-session support + race condition/livelock fix
  vm/flrun/src/main/scala/Handler.scala
  vm/flrun/src/main/scala/Main.scala
  vm/flrun/src/main/scala/Order.scala
  vm/flrun/src/main/scala/TxOrder.scala
  vm/flrun/src/main/scala/TxProcessor.scala
Labels: scala, ~infrastructure

#645 Ipfs upload
  build.sbt
  docs/src/quickstart/ipfs-website.md
  effects/ca-store/src/main/scala/fluence/effects/castore/ContentAddressableStore.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsClient.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsData.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsLsResponse.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  effects/ipfs/src/test/scala/fluence/effects/ipfs/IpfsExample.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmClient.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmStore.scala
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/code/PolyStore.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  project/SbtCommons.scala
  project/plugins.sbt
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/ipfs.yml
Labels: ~infrastructure

#655 Set Xmx on worker, limit to 400mb
  effects/docker/src/main/scala/fluence/effects/docker/params/DockerParams.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  statemachine/docker/worker/run.sh
  tools/deploy/scripts/node.yml
Labels: scala, ~infrastructure, ~worker

#646 Add redis, fix connect to upload your own app
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
Labels: js, ~dashboard

#653 Frontend docs
  docs/src/SUMMARY.md
  docs/src/debugging.md
  docs/src/frontend/index.md
  docs/src/frontend/javascript.md
  docs/src/http.md
  docs/src/introduction/index.md
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  vm/flrun/src/main/scala/TxOrder.scala
  vm/flrun/src/main/scala/TxProcessor.scala
Labels: documentation

#657 Use upload snippet for Redis
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
Labels: js, ~dashboard

#660 Tendermint's block merkle hashes and signature
  build.sbt
  effects/tendermint-block/src/main/proto3/tendermint.proto
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/TendermintBlock.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Base64ByteVector.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Block.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Commit.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Data.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Header.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/LastCommit.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/PartsHeader.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/ConvertError.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/ErrorHandlingSyntax.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/Errors.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/JsonErrors.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/TendermintBlockError.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/ValidationError.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/protobuf/Protobuf.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/protobuf/ProtobufConverter.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/protobuf/ProtobufJson.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/signature/Canonical.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/signature/Merkle.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/signature/TendermintSignature.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Block.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/BlockID.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/CanonicalBlockID.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/CanonicalPartSetHeader.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/CanonicalVote.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Commit.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Data.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Evidence.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/EvidenceData.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Header.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/PartSetHeader.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/TendermintProto.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Timestamp.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Validator.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Version.scala
  effects/tendermint-block/src/main/scala/proto3/tendermint/Vote.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/EncodingTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/MerkleTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/TendermintBlockTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/TendermintSignatureTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/TestData.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  project/SbtCommons.scala
  statemachine/src/main/resources/reference.conf
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
Labels: feature, scala, ~node, ~worker

#662 New redis, with bulk operations fix
  dashboard/src/fluence/deployable/index.ts
Labels: ~dashboard

#663 Interactive snippet
  .circleci/config.yml
  .gitattributes
  bootstrap/package-lock.json
  bootstrap/package.json
  dashboard/src/fluence/apps/index.ts
  dashboard/src/fluence/deployable/index.ts
  dashboard/src/front/components/app/index.tsx
  dashboard/src/front/components/fluence-app/index.tsx
  dashboard/src/front/components/fluence-apps-list/index.tsx
  dashboard/src/front/components/fluence-deployable-app/snippets.tsx
Labels: js, ~dashboard
