Repository fluencelabs/nox, pull requests merged in 2019-05, with the labels that each got.

#664 Compile rust in frun
  build.sbt
  project/DockerContainers.scala
  project/SbtCommons.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  tools/deploy/scripts/just_kovan.sh
  vm/frun/README.md
  vm/frun/src/main/resources/logback.xml
  vm/frun/src/main/resources/reference.conf
  vm/frun/src/main/scala/Dsl.scala
  vm/frun/src/main/scala/Main.scala
  vm/frun/src/main/scala/Rust.scala
  vm/frun/src/main/scala/Settings.scala
  vm/frun/src/main/scala/TxOrder.scala
  vm/frun/src/main/scala/TxProcessor.scala
  vm/frun/src/main/scala/Utils.scala
Labels: ~infrastructure

#682 Add Redis 0.3, with lua support
  dashboard/src/fluence/deployable/index.ts
Labels: enhancement, ~dashboard

#681 Contract for dashboard
  bootstrap/contracts/Dashboard.sol
  bootstrap/contracts/Deployer.sol
  bootstrap/contracts/Migrations.sol
  bootstrap/contracts/Network.sol
  bootstrap/package-lock.json
  bootstrap/package.json
  bootstrap/scripts/compile_sol.js
  bootstrap/test/DashboardTest.js
  bootstrap/truffle.js
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/constants.ts
  dashboard/src/fluence/apps/index.ts
  dashboard/src/fluence/contract.ts
  dashboard/src/fluence/index.ts
  dashboard/src/front/actions/apps/app-ids.ts
  effects/ethclient/src/main/java/fluence/effects/ethclient/Network.java
  tools/deploy/scripts/deploy-contract.js
  tools/deploy/scripts/package-lock.json
  tools/deploy/scripts/package.json
Labels: solidity, ~contract, ~dashboard

#674 Failover for Geth & IPFS
  cli/README.md
  cli/src/config.rs
  dashboard/src/constants.ts
  dashboard/src/front/components/fluence-deployable-app/index.tsx
  docs/src/frontend/javascript.md
  docs/src/quickstart/ipfs-website.md
  docs/src/quickstart/web.md
  effects/ipfs/src/test/scala/fluence/effects/ipfs/IpfsExample.scala
  tools/deploy/dashboard/Caddyfile
  tools/deploy/dashboard/caddy.yml
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/geth/Caddyfile
  tools/deploy/geth/README.md
  tools/deploy/geth/caddy.yml
  tools/deploy/geth/endpoint.nginx.conf
  tools/deploy/geth/geth.yml
  tools/deploy/ipfs/ipfs.yml
Labels: ~infrastructure

#686 Return list of owners in Dashboard::getApps
  bootstrap/contracts/Dashboard.sol
  bootstrap/test/DashboardTest.js
Labels: solidity, ~contract, ~dashboard

#687 Add getNodes to Dashboard.sol
  bootstrap/contracts/Dashboard.sol
  bootstrap/test/DashboardTest.js
Labels: solidity, ~contract, ~dashboard

#695 Zero downtime dashboard dep
  dashboard/.gitignore
  dashboard/package.json
  dashboard/src/front/components/fluence-deploy-list/index.tsx
  dashboard/src/front/components/fluence-nodes-list/index.tsx
Labels: js, tech debt, ~dashboard

#696 Caddy fix
  .gitattributes
  cli/Cargo.lock
  tools/deploy/dashboard/Caddyfile
Labels: tech debt, ~dashboard, ~infrastructure

#697 Tendermint block uploading
  build.sbt
  effects/ethclient/src/main/scala/fluence/effects/ethclient/EthClient.scala
  effects/ethclient/src/main/scala/fluence/effects/ethclient/syntax/syntax.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsClient.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsData.scala
  effects/src/main/scala/fluence/effects/EffectError.scala
  effects/src/main/scala/fluence/effects/JavaFutureConversion.scala
  effects/src/main/scala/fluence/effects/syntax/package.scala
  effects/sttpEitherT/src/main/scala/fluence/EitherTSttpBackend.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/responses/Manifest.scala
  effects/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/BlockHistory.scala
  effects/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/BlockHistoryError.scala
  effects/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/BlockManifest.scala
  effects/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/Receipt.scala
  effects/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/helpers/ByteVectorJsonCodec.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/TendermintBlock.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Block.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Commit.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/Header.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/JsonCodecs.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/data/LastCommit.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/JsonErrors.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/errors/TendermintBlockError.scala
  effects/tendermint-block/src/main/scala/fluence/effects/tendermint/block/protobuf/ProtobufJson.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/EncodingTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/MerkleTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/TendermintBlockTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/TendermintSignatureTest.scala
  effects/tendermint-block/src/test/scala/fluence/effects/tendermint/block/TestData.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/TendermintRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/WebsocketRpcError.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/WebsocketTendermintRpc.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/helpers/NettyFutureConversion.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/TestData.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketRPCSpec.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketServer.scala
  kademlia/src/test/scala/fluence/kad/KeyLawsSpec.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpc.scala
  node/src/main/scala/fluence/node/workers/control/ControlRpcError.scala
  node/src/main/scala/fluence/node/workers/control/HttpControlRpc.scala
  node/src/main/scala/fluence/node/workers/tendermint/BlockUploading.scala
  node/src/main/scala/fluence/node/workers/tendermint/DockerTendermint.scala
  node/src/test/scala/fluence/node/ControlRpcSpec.scala
  project/SbtCommons.scala
  project/plugins.sbt
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignal.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlSignals.scala
  statemachine/control/src/test/scala/fluence/statemachine/control/ControlServerSpec.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
Labels: feature, scala, ~node, ~statemachine, ~tendermint

#699 Better logging for Kademlia
  build.sbt
  kademlia/src/main/scala/fluence/kad/routing/RoutingTable.scala
  kademlia/src/main/scala/fluence/kad/state/Bucket.scala
  kademlia/src/main/scala/fluence/kad/state/BucketsState.scala
  kademlia/src/main/scala/fluence/kad/state/ModResult.scala
  kademlia/src/main/scala/fluence/kad/state/RoutingState.scala
  kademlia/src/main/scala/fluence/kad/state/RoutingStateImpl.scala
  kademlia/src/main/scala/fluence/kad/state/Siblings.scala
  kademlia/src/main/scala/fluence/kad/state/SiblingsState.scala
  kademlia/src/main/scala/fluence/kad/state/StoredRoutingState.scala
  kademlia/src/main/scala/fluence/kad/state/Trace.scala
  kademlia/src/test/scala/fluence/kad/LocalRoutingSpec.scala
  kademlia/src/test/scala/fluence/kad/state/BucketSpec.scala
  log/src/main/scala/fluence/log/ChainLog.scala
  log/src/main/scala/fluence/log/Log.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
Labels: enhancement, scala

#698 KV receipt storage
  build.sbt
  effects/receipt-storage/src/main/scala/fluence/effects/receipt/storage/KVReceiptStorage.scala
  effects/receipt-storage/src/main/scala/fluence/effects/receipt/storage/ReceiptStorage.scala
  effects/receipt-storage/src/main/scala/fluence/effects/receipt/storage/ReceiptStorageError.scala
  effects/receipt-storage/src/test/scala/fluence/effects/receipt/storage/KVReceiptStorageSpec.scala
  effects/tendermint-block-history/src/main/scala/fluence/effects/tendermint/block/history/Receipt.scala
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
Labels: scala, ~node
