Repository fluencelabs/nox, pull requests merged in 2019-09, with the labels that each got.

#832 Support different protocols in fluence js library
  fluence-js/package.json
  fluence-js/src/TendermintClient.ts
  fluence-js/src/fluence.ts
  fluence-js/src/utils.ts
Labels: js, ~fluence-js

#833 Add redis proxy configs
  tools/deploy/ia-redis/Caddyfile
  tools/deploy/ia-redis/README.md
  tools/deploy/ia-redis/caddy.yml
Labels: ~infrastructure

#830 Enable https for geth.fluence.one
  tools/deploy/geth/Caddyfile
  tools/deploy/geth/caddy.yml
Labels: ~infrastructure

#841 Copy dockerfiles to be compatible with Dockerhub
  tools/docker/Node.Dockerhub.Dockerfile
  tools/docker/Node.Dockerhub.Dockerfile.dockerignore
  tools/docker/README.md
  tools/docker/Worker.Dockerhub.Dockerfile
  tools/docker/Worker.Dockerhub.Dockerfile.dockerignore
Labels: ~infrastructure

#840 Filter empty blocks in ResponseSubscriber
  build.sbt
  effects/ethclient/src/main/java/fluence/effects/ethclient/Network.java
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/TestData.scala
  history/receipt-storage/src/main/scala/fluence/effects/receipt/storage/KVReceiptStorage.scala
  history/receipt-storage/src/main/scala/fluence/effects/receipt/storage/ReceiptStorage.scala
  history/receipt-storage/src/main/scala/fluence/effects/receipt/storage/ReceiptStorageError.scala
  node/src/main/scala/fluence/node/workers/subscription/PerBlockTxExecutorImpl.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriber.scala
  node/src/main/scala/fluence/node/workers/subscription/ResponseSubscriberImpl.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/testkit/src/test/scala/fluence/node/PerBlockTxExecutorSpec.scala
  node/testkit/src/test/scala/fluence/node/ResponseSubscriberSpec.scala
  vm/merkelized-bytebuffer/src/main/scala/fluence/merkle/BinaryMerkleTree.scala
  vm/merkelized-bytebuffer/src/main/scala/fluence/merkle/TrackingMemoryBuffer.scala
  vm/merkelized-bytebuffer/src/main/scala/fluence/merkle/TreeHasher.scala
  vm/merkelized-bytebuffer/src/main/scala/fluence/merkle/TreeMath.scala
Labels: scala, ~node

#842 Refactor deployment scripts
  .circleci/config.yml
  project/DockerContainers.scala
  tools/deploy/README.md
  tools/deploy/config/reserved_peers.txt
  tools/deploy/contract/deploy-contract.js
  tools/deploy/contract/package-lock.json
  tools/deploy/contract/package.json
  tools/deploy/fabfile.py
  tools/deploy/instances.json
  tools/deploy/netdata/Caddyfile
  tools/deploy/netdata/netdata.yml
  tools/deploy/netdata/netdata_caddy.yml
  tools/deploy/netdata/netdata_master.conf
  tools/deploy/netdata/netdata_slave.conf
  tools/deploy/netdata/stream_master.conf
  tools/deploy/netdata/stream_slave.conf
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/deploy.sh
  tools/deploy/scripts/functions/asserts.sh
  tools/deploy/scripts/functions/docker.sh
  tools/deploy/scripts/geth.yml
  tools/deploy/scripts/ipfs.yml
  tools/deploy/scripts/multiple-node.yml
  tools/deploy/scripts/node.yml
  tools/deploy/scripts/parity.yml
  tools/deploy/scripts/rinkeby-compose.sh
  tools/deploy/scripts/swarm.yml
  tools/deploy/test_deploy.py
  tools/deploy/utils.py
Labels: ~infrastructure

#843 Implement query response for StateMachineHttp
  history/tendermint-block/src/main/scala/fluence/effects/tendermint/block/protobuf/ProtobufJson.scala
  statemachine/api/src/main/scala/fluence/statemachine/api/query/QueryCode.scala
  statemachine/api/src/main/scala/fluence/statemachine/api/query/QueryResponse.scala
  statemachine/client/src/main/scala/fluence/statemachine/client/StateMachineClient.scala
  statemachine/client/src/test/scala/fluence/statemachine/client/StatusQueryClientSpec.scala
Labels: ~statemachine

#844 Use docker proxy instead of docker.sock
  .gitignore
  Makefile
  node/src/main/resources/docker/entrypoint.sh
  tools/deploy/deployment_config.json
  tools/deploy/netdata/netdata.yml
  tools/deploy/scripts/functions/docker.sh
  tools/deploy/scripts/node.yml
Labels: ~infrastructure

#845 No root
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/ipfs/ipfs.yml
  tools/deploy/scripts/node.yml
  tools/deploy/utils.py
Labels: ~infrastructure

#850 Add strict timeout to Eventually
  effects/tendermint-rpc/src/test/scala/fluence/Eventually.scala
  effects/tendermint-rpc/src/test/scala/fluence/Timed.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketRpcSpec.scala
  node/src/it/scala/fluence/node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence/node/MasterNodeSpec.scala
  node/src/test/scala/fluence/node/BlockUploadingSpec.scala
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/PerBlockTxExecutorSpec.scala
  node/testkit/src/test/scala/fluence/node/ResponseSubscriberSpec.scala
  node/testkit/src/test/scala/fluence/node/WebsocketApiSpec.scala
Labels: scala

#848 Ignore subscription response in websocket
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/websocket/WsListener.scala
Labels: ~node

#851 JS production bundle
  fluence-js/.npmignore
  fluence-js/package.json
Labels: js, ~fluence-js

#846 Websocket client
  dashboard/package-lock.json
  fluence-js/package-lock.json
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/Result.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
  fluence-js/src/WebsocketSession.ts
  fluence-js/src/executor.ts
  fluence-js/src/fluence.ts
  fluence-js/src/utils.ts
Labels: feature, js, ~fluence-js

#852 RepeatOnEveryBlock: test + fix
  block-producer/embedded/src/main/scala/fluence/bp/embedded/EmbeddedBlockProducer.scala
  build.sbt
  node/src/it/scala/fluence/node/MasterNodeIntegrationSpec.scala
  node/testkit/src/test/scala/fluence/node/RepeatOnEveryBlockSpec.scala
  worker/responder/src/main/scala/fluence/worker/responder/AwaitResponses.scala
  worker/responder/src/main/scala/fluence/worker/responder/repeat/RepeatOnEveryBlock.scala
  worker/responder/src/main/scala/fluence/worker/responder/repeat/RepeatOnEveryBlockImpl.scala
  worker/responder/src/test/scala/fluence/worker/responder/RepeatOnEveryBlockSpec.scala
Labels: scala, ~node
