Repository fluencelabs/nox, pull requests merged in 2019-07, with the labels that each got.

#732 Update wasm app to v0.5
  dashboard/src/fluence/deployable/index.ts
Labels: C, ~redis

#733 Kademlia js
  build.sbt
  effects/ethclient/src/it/scala/fluence/effects/ethclient/ClusterContractSpec.scala
  effects/kvstore/jvm/src/main/scala/fluence/effects/kvstore/RocksDBStore.scala
  effects/kvstore/jvm/src/test/scala/fluence/effects/kvstore/KVStoreTestKit.scala
  effects/kvstore/jvm/src/test/scala/fluence/effects/kvstore/MVarStoreSpec.scala
  effects/kvstore/jvm/src/test/scala/fluence/effects/kvstore/RocksDBStoreSpec.scala
  kademlia/jvm/src/test/scala/fluence/kad/LocalRoutingSpec.scala
  kademlia/src/test/scala/fluence/kad/KeySpec.scala
  log/js/src/main/scala/fluence/log/DateFormat.scala
  log/jvm/src/main/scala/fluence/log/DateFormat.scala
  log/src/main/scala/fluence/log/Log.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/SomeApp.scala
  project/FluenceCrossType.scala
  project/SbtCommons.scala
  project/plugins.sbt
  vm/frun/src/main/resources/reference.conf
Labels: enhancement, feature, js, scala, ~general

#728 Fix newline handling in frun
  vm/frun/src/main/scala/Main.scala
Labels: bug, scala

#734 Kademlia network and Tendermint v0.32.0
  .scalafmt.conf
  .travis.yml
  build.sbt
  dashboard/src/constants.ts
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttp.scala
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttpClient.scala
  kademlia/http/src/main/scala/fluence/kad/http/UriContact.scala
  kademlia/src/main/scala/fluence/kad/routing/IterativeRoutingImpl.scala
  log/src/main/scala/fluence/log/Context.scala
  log/src/main/scala/fluence/log/LogFactory.scala
  node/src/it/scala/fluence.node/DockerSetup.scala
  node/src/it/scala/fluence.node/MasterNodeIntegrationSpec.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/it/scala/fluence.node/eth/FluenceContractTestOps.scala
  node/src/main/resources/docker/application.conf
  node/src/main/resources/docker/entrypoint.sh
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/KademliaNode.scala
  node/src/main/scala/fluence/node/MasterHttp.scala
  node/src/main/scala/fluence/node/SomeApp.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/config/EndpointsConfig.scala
  node/src/main/scala/fluence/node/config/NodeConfig.scala
  node/src/main/scala/fluence/node/status/MasterStatus.scala
  node/src/main/scala/fluence/node/status/StatusAggregator.scala
  node/src/main/scala/fluence/node/workers/WorkersHttp.scala
  node/src/main/scala/fluence/node/workers/tendermint/config/TendermintConfig.scala
  node/src/test/scala/fluence/node/KadUriContractSpec.scala
  project/SbtCommons.scala
  tools/deploy/fabfile.py
  tools/deploy/scripts/compose.sh
  tools/deploy/scripts/multiple-node.yml
  tools/deploy/scripts/node.yml
  tools/deploy/test_deploy.py
Labels: ~infrastructure, ~node, ~tendermint

#736 Simplify `with_ethereum_args`
  cli/src/command.rs
Labels: enhancement, rust, ~CLI

#737 Remove test main app
  node/src/main/scala/fluence/node/SomeApp.scala
  tools/deploy/scripts/node.yml
Labels: minor

#738 Use dockerized dashboard
  tools/deploy/dashboard/Caddyfile
  tools/deploy/dashboard/caddy.yml
Labels: ~dashboard, ~infrastructure

#739 Add request retry into fluencejs
  fluence-js/package.json
  fluence-js/src/AppSession.ts
  fluence-js/src/Result.ts
  fluence-js/src/ResultAwait.ts
  fluence-js/src/RpcClient.ts
  fluence-js/src/Session.ts
  fluence-js/src/TendermintClient.ts
  fluence-js/webpack.config.js
Labels: feature, js, ~fluence-js

#741 Crossbuild removed
  .travis.yml
  build.sbt
  effects/kvstore/src/main/scala/fluence/effects/kvstore/RocksDBStore.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/KVStoreTestKit.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/MVarStoreSpec.scala
  effects/kvstore/src/test/scala/fluence/effects/kvstore/RocksDBStoreSpec.scala
  kademlia/src/test/scala/fluence/kad/LocalRoutingSpec.scala
  log/jvm/src/main/scala/fluence/log/DateFormat.scala
  log/src/main/scala/fluence/log/DateFormat.scala
  project/FluenceCrossType.scala
  project/plugins.sbt
Labels: scala

#740 Add request timeout and session ban in fluencejs
  fluence-js/src/AppSession.ts
  fluence-js/src/RpcClient.ts
  fluence-js/src/Session.ts
Labels: feature, js, ~fluence-js

#748 add wasm sqlite v0.1
  dashboard/src/fluence/deployable/index.ts
Labels: ~dashboard

#747 Enable Refreshing and Store extensions
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttp.scala
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttpClient.scala
  kademlia/http/src/main/scala/fluence/kad/http/KademliaHttpNode.scala
  kademlia/src/main/scala/fluence/kad/Kademlia.scala
  kademlia/src/main/scala/fluence/kad/KademliaImpl.scala
  kademlia/src/main/scala/fluence/kad/conf/AdvertizeConf.scala
  kademlia/src/main/scala/fluence/kad/conf/JoinConf.scala
  kademlia/src/main/scala/fluence/kad/conf/KademliaConfig.scala
  kademlia/src/main/scala/fluence/kad/conf/RoutingConf.scala
  kademlia/src/main/scala/fluence/kad/contact/ContactAccess.scala
  kademlia/src/main/scala/fluence/kad/contact/UriContact.scala
  kademlia/src/main/scala/fluence/kad/routing/IterativeRouting.scala
  kademlia/src/main/scala/fluence/kad/routing/IterativeRoutingImpl.scala
  kademlia/src/main/scala/fluence/kad/routing/RoutingTable.scala
  kademlia/src/main/scala/fluence/kad/state/RoutingState.scala
  kademlia/src/main/scala/fluence/kad/state/RoutingStateImpl.scala
  kademlia/src/main/scala/fluence/kad/state/StoredRoutingState.scala
  kademlia/src/test/scala/fluence/kad/LocalRoutingSpec.scala
  kademlia/src/test/scala/fluence/kad/contact/UriContactSpec.scala
  kademlia/testkit/src/main/scala/fluence/kad/testkit/TestKademlia.scala
  node/src/it/scala/fluence.node/MasterNodeSpec.scala
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/KademliaNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/KademliaConfig.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  node/src/test/scala/fluence/node/KadUriContractSpec.scala
Labels: feature, scala, ~node

#749 Fix missing comma in dashboard
  dashboard/src/constants.ts
  dashboard/src/fluence/deployable/index.ts
Labels: bug, ~dashboard

#753 Integration test on block uploading + abci service
  build.sbt
  node/testkit/src/test/scala/fluence/node/BlockUploadingIntegrationSpec.scala
  statemachine/src/main/scala/fluence/statemachine/AbciHandler.scala
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  statemachine/src/main/scala/fluence/statemachine/TxCode.scala
  statemachine/src/main/scala/fluence/statemachine/state/AbciState.scala
  statemachine/src/main/scala/fluence/statemachine/state/Sessions.scala
  statemachine/src/test/scala/fluence/statemachine/AbciServiceSpec.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
Labels: scala, ~node, ~statemachine, ~worker

#754 Timeouts for remote storage
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsClient.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsStore.scala
  effects/ipfs/src/main/scala/fluence/effects/ipfs/IpfsUploader.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmClient.scala
  effects/swarm/src/main/scala/fluence/effects/swarm/SwarmStore.scala
  effects/swarm/src/test/scala/fluence/effects/swarm/SwarmClientIntegrationSpec.scala
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNode.scala
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/Configuration.scala
  node/src/main/scala/fluence/node/config/DurationCodecs.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/config/storage/IpfsConfig.scala
  node/src/main/scala/fluence/node/config/storage/SwarmConfig.scala
Labels: scala, ~node

#759 Use local IPFS on miner nodes
  .sbtopts
  .travis.yml
  log/src/main/scala/fluence/log/LogLevel.scala
  node/src/main/resources/reference.conf
  node/src/main/scala/fluence/node/MasterNodeApp.scala
  node/src/main/scala/fluence/node/config/MasterConfig.scala
  node/src/main/scala/fluence/node/workers/DockerWorkerServices.scala
  node/src/main/scala/fluence/node/workers/DockerWorkersPool.scala
  statemachine/control/src/main/scala/fluence/statemachine/control/ControlServer.scala
  statemachine/src/main/resources/reference.conf
  statemachine/src/main/scala/fluence/statemachine/AbciService.scala
  statemachine/src/main/scala/fluence/statemachine/ServerRunner.scala
  statemachine/src/main/scala/fluence/statemachine/config/StateMachineConfig.scala
  statemachine/src/test/scala/fluence/statemachine/StatemachineIntegrationSpec.scala
  tools/deploy/deployment_config.json
  tools/deploy/fabfile.py
  tools/deploy/ipfs/ipfs.yml
  tools/deploy/scripts/node.yml
Labels: ~external storage, ~infrastructure, ~node
