Repository fluencelabs/nox, pull requests merged in 2019-10, with the labels that each got.

#858 Optimize & refactor frank build
  .circleci/config.yml
  .travis.yml
  Makefile
  bootstrap/package-lock.json
  build.sbt
  effects/ethclient/src/main/java/fluence/effects/ethclient/Network.java
  node/src/it/scala/fluence/node/MasterNodeIntegrationSpec.scala
  project/SbtCommons.scala
  project/VmSbt.scala
  tools/docker/README.md
  tools/docker/SbtRust.Dockerfile
  tools/docker/SbtRust.Dockerfile.dockerignore
  tools/docker/Worker.Dockerfile
  tools/docker/Worker.Dockerfile.dockerignore
  tools/docker/Worker.Dockerhub.Dockerfile
  tools/docker/Worker.Dockerhub.Dockerfile.dockerignore
  vm/src/it/scala/fluence/vm/LlamadbInstrumentedIntegrationTest.scala
Labels: scala, ~virtual machine

#861 Optimize logging
  backend-sdk/Cargo.toml
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/crates/main/src/logger/mod.rs
  backend-sdk/src/lib.rs
  project/VmSbt.scala
  vm/frank/Cargo.lock
  vm/frank/Cargo.toml
  vm/frank/src/frank.rs
Labels: rust, ~rust_sdk, ~virtual machine

#860 Add run-dash task to makefile
  Makefile
Labels: enhancement

#863 Caching Frank functions
  vm/frank/src/jni/exports.rs
  vm/frank/src/jni/jni_results.rs
  vm/frank/src/lib.rs
  vm/frank/src/main.rs
  vm/frank/src/vm/frank.rs
  vm/frank/src/vm/mod.rs
  vm/frank/src/vm/modules/env_module.rs
  vm/frank/src/vm/modules/mod.rs
  vm/frank/src/vm/prepare.rs
Labels: rust, ~virtual machine

#864 Decouple Rust backend SDK
  .circleci/config.yml
  backend-sdk/.gitignore
  backend-sdk/Cargo.toml
  backend-sdk/README.md
  backend-sdk/crates/macro/Cargo.toml
  backend-sdk/crates/macro/src/lib.rs
  backend-sdk/crates/macro/src/macro_attr_parser.rs
  backend-sdk/crates/macro/src/macro_input_parser.rs
  backend-sdk/crates/main/Cargo.toml
  backend-sdk/crates/main/src/eth/mod.rs
  backend-sdk/crates/main/src/export_allocator/mod.rs
  backend-sdk/crates/main/src/lib.rs
  backend-sdk/crates/main/src/logger/mod.rs
  backend-sdk/crates/main/src/memory/errors.rs
  backend-sdk/crates/main/src/memory/mod.rs
  backend-sdk/crates/main/src/side_module/mod.rs
  backend-sdk/rustfmt.toml
  backend-sdk/src/lib.rs
  cli/README.md
Labels: rust, ~rust_sdk

#867 SubscriptionStorage spec
  worker/responder/src/test/scala/fluence/worker/responder/SubscriptionStorageSpec.scala
Labels: minor, refactoring, scala

#869 Fix 'subscribe and receive messages' in WebsocketRpcSpec
  effects/ethclient/src/main/scala/fluence/effects/ethclient/EthClient.scala
  effects/resources/src/main/scala/fluence/effects/resources/MakeResource.scala
  effects/tendermint-rpc/src/main/scala/fluence/effects/tendermint/rpc/websocket/TendermintWebsocketRpcImpl.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/TestWRpc.scala
  effects/tendermint-rpc/src/test/scala/fluence/effects/tendermint/rpc/WebsocketRpcSpec.scala
  effects/testkit/src/main/scala/fluence/effects/testkit/Timed.scala
  node/src/main/scala/fluence/node/eth/NodeEth.scala
Labels: scala, ~node
